{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<div class="collection-list-card-wrapper animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% else %}collection-list-card-wrapper{% endif %}">
  <div
    class="
        collection-list-card
      collection-list-card--{{ card_style }}
      {% if card_collection.featured_image %} collection-list-card--media{% else %} collection-list-card--text{% endif %}
      {% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}
      {% if extend_height %} collection-list-card--extend-height{% endif %}
      {% if card_collection.featured_image == nil and card_style == 'card' %} ratio{% endif %}
    "

    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >
    <div class="collection-list-data">
        {%- if card_collection != blank and card_style == 'card' or card_collection.featured_image -%}
      <div class="collection-list-card__content">
        <div class="collection-list-card__information" style="
    display: flex;
    
    justify-content: center;
">
          <h3 class="collection-list-card__heading">
            <a
              {% if card_collection == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ card_collection.url }}"
              {% endif %}
              class="collection-list-full-unstyled-link collectionlist_title"
              style="color: var(--product_price_card);"
            >
              {%- if card_collection.title != blank -%}
                {{- card_collection.title | escape -}}
              {%- else -%}
                {{ 'onboarding.collection_title' | t }}
              {%- endif -%}
            </a>
          </h3>
          {%- if card_collection.featured_image == null and card_collection.description != blank -%}
            <p class="collection-list-card__caption">
              {{- card_collection.description | strip_html | truncatewords: 12 -}}
            </p>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  {%- if card_collection == blank -%}
      <div class="collection-list-card__content">
        <div class="collection-list-card__information"  style="
    display: flex;
    justify-content: center;
">
          <h3 class="collection-list-card_heading collection-list-card_heading--placeholder">
            <a role="link" aria-disabled="true" class="collection-list-full-unstyled-link collection-list-title"  style="color: var(--product_price_card);" >
              {{ 'onboarding.collection_title' | t }}
            </a>
          </h3>
        </div>
      </div>
    {%- endif -%}
    </div>
     <div class="collection-list-semicircle1 collection-list-semicircle-leftl" style="position: absolute; width: 20px; height: 20px; border-radius: 50%; z-index: 2; left: -8px; transform: translateY(-50%);" ><h6></h6></div>
      <div class="collection-list-semicircle1 collection-list-semicircle-rightf" style="position: absolute; width: 20px; height: 20px; border-radius: 50%; z-index: 2; right: -8px; transform: translateY(-50%);" ><h6></h6></div>
      <div class="collection-list-dashed-line">
    {% for i in (1..100) %}
        <div class="collection-list-rectangle"><h1></h1></div>
      {% endfor %}
     </div>
    <!-- Image start from here  -->
    <div
      class="collection_list_inner"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      {%- if card_collection.featured_image -%}
        <div class="collection-list-card__media" style="
    width: 100%; ">
          <div class="collection-list-media collection-list-media--transparent collection-list-media--hover-effect" style="
    height: 100%;
            margin:0px">
            <img
              srcset="
                {%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w
              "
              src="{{ card_collection.featured_image | image_url: width: 1500 }}"
             
              alt="{{ card_collection.featured_image.alt | escape }}"
              height="{{ card_collection.featured_image.height }}"
              width="{{ card_collection.featured_image.width }}"
              loading="lazy"
              class="collection-list-motion-reduce"
            >
          </div>
        </div>
      {%- else -%}
        <div class="collection-list-card__media">
          {{ 'collection-1' | placeholder_svg_tag: 'collection-list-placeholder-svg collection-list-placeholder' }}
        </div>
    {%- endif -%}
    </div>

  
  </div>
</div>
