<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }

  @media screen and (min-width: 749px) {
    .bb-upper-template-404 {
      width: {{ section.settings.card_width }}rem;
    }
  }
  @media screen and (max-width: 749px) {
    .bb-upper-template-404 {
      width: {{ section.settings.card_width_mobile }}rem;
    }
  }

</style>

{{ 'main-404.css' | asset_url | stylesheet_tag }}
<div class="bb-404-uper-banner color-{{ section.settings.color_scheme }}">
<div class="desktop-view bb-upper-template-404">
  <div class="vertical-bar-top-404">
    {% for i in (0..16) %}
      <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
    {% endfor %}
  </div>
  <div class="vertical-bar-left-404">
  {% for i in (0..7) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
  </div>
<div class="bb-template-404 template-404 page-width page-margin center">
  <p class="bb-404-subtext">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="bb-404-title title">
    {{ section.settings.heading }}
  </h1>
  <p class="bb-404-para">
    {{ section.settings.description }}
  </p>
  {% if section.settings.button1 != blank %}
    <a href="{{ section.settings.link1 }}" class="bb-404-h-button button">
      {{ section.settings.button1 }}
    </a>
  {% endif %}
</div>
<div class="vertical-bar-right-404">
  {% for i in (0..7) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
<div class="vertical-bar-bottom-404">
  {% for i in (0..16) %}
    <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
</div>
<div class="mobile-view bb-upper-template-404">
  <div class="vertical-bar-top-404">
    {% for i in (0..13) %}
      <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
    {% endfor %}
  </div>
  <div class="bb-template-404 template-404 page-width page-margin center">
    <p class="bb-404-subtext">
      {{ 'templates.404.subtext' | t }}
    </p>
    <h1 class="bb-404-title title">
      {{ section.settings.heading}}
      </h1>
    <p class="bb-404-para">
      {{ section.settings.description}}
    </p>
    {% if section.settings.button1 != blank %}
      <button href="{{ section.settings.link1 }}" class="bb-404-h-button button">
        {{ section.settings.button1 }}
      </button>
    {% endif %}
    {% if section.settings.button2 != blank %}
      <a href="{{ section.settings.link2 }}" class="bb-404-c-button button">
        {{ section.settings.button2 }}
      </a>
    {% endif %}
  </div>
  <div class="vertical-bar-bottom-404">
  {% for i in (0..13) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
</div>
</div>
{% schema %}
  {
    "name": "404",
    "settings": [
      {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.email-signup-banner.settings.color_scheme.info",
      "default": "scheme-1"
    },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Page Not Found"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved"
      },
      {
        "type": "text",
        "id": "button1",
        "label": "Button Text",
        "default": "Back to home page"
      },
      {
        "type": "url",
        "id": "link1",
        "label": "Link to Button"
      },
      {
      "type": "range",
      "id": "card_width",
      "label": "Card Size (Desktop View)",
      "min": 60,
      "max": 120,
      "step": 1,
      "default": 120
    },
    {
      "type": "range",
      "id": "card_width_mobile",
      "label": "Card Size (Mobile View)",
      "min": 20,
      "max": 35,
      "step": 1,
      "default": 35
    }
    ]
  }
{% endschema %}
