{{ 'barcode.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Barcode",
  "settings": [
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Footer Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "All items are reserved ©2024"
    },
    {
      "type": "color",
      "id": "barcode_color",
      "label": "Barcode Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Barcode"
    }
  ]
}
{% endschema %}
<style>
  .bar{
    background-color: {{ section.settings.barcode_color }};
      /* width: {{ 8 | times: section.settings.barcode_scale }}px;
    height: {{ 100 | times: section.settings.barcode_scale }}px;
    margin: {{ 0 | times: section.settings.barcode_scale }}px {{ 4 | times: section.settings.barcode_scale }}px;
  
  }
   .bar-2 {
    width: {{ 5 | times: section.settings.barcode_scale }}px;
    height: {{ 100 | times: section.settings.barcode_scale }}px;
    margin: {{ 0 | times: section.settings.barcode_scale }}px {{ 3 | times: section.settings.barcode_scale }}px;
  }

  .bar-3 {
    width: {{ 10 | times: section.settings.barcode_scale }}px;
    height: {{ 100 | times: section.settings.barcode_scale }}px;
    margin: {{ 0 | times: section.settings.barcode_scale }}px {{ 5 | times: section.settings.barcode_scale }}px;
  }

  .bar-4 {
    width: {{ 20 | times: section.settings.barcode_scale }}px;
    height: {{ 100 | times: section.settings.barcode_scale }}px;
    margin: {{ 0 | times: section.settings.barcode_scale }}px {{ 7 | times: section.settings.barcode_scale }}px;
  }

  .bar-5 {
    width: {{ 7 | times: section.settings.barcode_scale }}px;
    height: {{ 80 | times: section.settings.barcode_scale }}px;
    margin: {{ -20 | times: section.settings.barcode_scale }}px {{ 1 | times: section.settings.barcode_scale }}px {{ 0 | times: section.settings.barcode_scale }}px;
  } */
   .barcode-footer {
    color: {{ section.settings.footer_text_color }};
    background-color: {{ section.settings.footer_bg_color }};
  }
</style>

   <div class="barcode">
  <!-- Left section -->
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
       <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
       <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
     <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
        <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
                                     
  

  
  <!-- Center section with thicker bars -->
  <div class="bar bar-5"><h2>i</h2></div>
  <div class="bar bar-6"><h2>i</h2></div>
  <div class="bar bar-7"><h2>i</h2></div>
  <div class="bar bar-8"><h2>i</h2></div>
  <div class="bar bar-5"><h2>i</h2></div>
  <div class="bar bar-6"><h2>i</h2></div>
  <div class="bar bar-7"><h2>i</h2></div>
  <div class="bar bar-8"><h2>i</h2></div>
      <div class="bar bar-5"><h2>i</h2></div>
  <div class="bar bar-6"><h2>i</h2></div>
      <div class="bar bar-7"><h2>i</h2></div>
  <div class="bar bar-8"><h2>i</h2></div>
           <div class="bar bar-5"><h2>i</h2></div>
  <div class="bar bar-6"><h2>i</h2></div>
      <div class="bar bar-7"><h2>i</h2></div>
  <div class="bar bar-8"><h2>i</h2></div>
  
  <!-- Right section -->
   <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
       <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
       <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
  <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
  <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
     <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
  <div class="bar bar-4"><h2>i</h2></div>
        <div class="bar bar-1"><h2>i</h2></div>
  <div class="bar bar-2"><h2>i</h2></div>
      <div class="bar bar-3"><h2>i</h2></div>
                                     
  


<div class="barcode-footer">
  {{ section.settings.footer_text }}
</div>

