{{ 'product-description.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-description.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  :root {
    --collapse_header_background_color: {{ section.settings.collapse_header_background_color }};
    --collapse_header_secondary_background_color: {{ section.settings.collapse_header_secondary_background_color }};
    --collapse_header_text_color: {{ section.settings.collapse_header_text_color }};
    --collapse_body_background_color: {{ section.settings.collapse_body_background_color }};
    --collapse_body_text_color: {{ section.settings.collapse_body_text_color }};
  }
{% endstyle %}
{% if section.blocks.first.settings.heading != blank %}
<div class="collapse-width">
  <div class="collapse-tab">
    {%- for block in section.blocks -%}
      <button class="tablinks" onclick="openTab(event, 'Tab{{ forloop.index }}')">{{ block.settings.heading }}</button>
    {% endfor %}
  </div>
  <div class="product-description-drawer">
    <div class="product-description-bottom_container">
      {% for i in (0..14) %}
        <div class="product-description-semicircles"></div>
      {% endfor %}
    </div>
  </div>
  <!-- Tab Content -->
  <div class="product-description-wrapper">
    {%- for block in section.blocks -%}
      <div id="Tab{{ forloop.index }}" class="product-description-grid-container">
          {% if block.settings.Point_1 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_1 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_2 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_2 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_3 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_3 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_4 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_4 }}</p>
            </div>
          {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="mobile-collapsible-tabs">
  <div class="accordion" id="accordionExample">
    {%- for block in section.blocks -%}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.index }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">
        {{ block.settings.heading }}
      </button>
    </h2>
    <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="product-description-grid-container" style="display: grid">
          {% if block.settings.Point_1 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_1 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_2 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_2 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_3 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_3 }}</p>
            </div>
          {% endif %}
          {% if block.settings.Point_4 != '' %}
            <div class="product-description-paragraph">
              <div class="product-description-in-semicircles"></div>
              <p class="product-description-subclass">{{ block.settings.Point_4 }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
    <div class="accordion-below">
<div class="product-description-drawer">
  <div class="product-description-bottom_container">
    {% for i in (0..10) %}
      <div class="product-description-semicircles"></div>
    {% endfor %}
  </div>
</div>
</div>
</div>
</div>

{% endif %}

{% schema %}
{
  "name": "t:sections.collapsible_tabs.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_tabs.settings.heading.label",
      "default": "t:sections.collapsible_tabs.settings.heading.default"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_tabs.blocks.collapsible_row.name",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.heading.default",
          "label": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "text",
          "id": "Point_1",
          "label": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_1.label",
          "info": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_1.info"
        },
        {
          "type": "text",
          "id": "Point_2",
          "label": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_2.label",
          "info": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_2.info"
        },
        {
          "type": "text",
          "id": "Point_3",
          "label": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_3.label",
          "info": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_3.info"
        },
        {
          "type": "text",
          "id": "Point_4",
          "label": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_4.label",
          "info": "t:sections.collapsible_tabs.blocks.collapsible_row.settings.Point_4.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Details",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
