{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact section-{{ section.id }}-padding">
    <div class="contact-form-design">
    <svg width="100%" height="100%" viewBox="0 0 3103 1264" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <path class="svgcolor" evenodd" clip-rule="evenodd" d="M2464 2.8237C2464 33.6548 2489.27 58.6483 2520.44 58.6483C2551.62 58.6483 2576.89 33.6548 2576.89 2.8237C2576.89 1.87677 2576.86 0.935355 2576.81 0H2703.59C2703.54 0.935388 2703.52 1.87684 2703.52 2.8238C2703.52 33.6549 2728.79 58.6484 2759.96 58.6484C2791.13 58.6484 2816.4 33.6549 2816.4 2.8238C2816.4 1.87684 2816.38 0.935388 2816.33 0H2943.11C2943.06 0.935383 2943.04 1.87683 2943.04 2.82378C2943.04 33.6549 2968.31 58.6484 2999.48 58.6484C3030.65 58.6484 3055.92 33.6549 3055.92 2.82378C3055.92 1.87683 3055.9 0.935383 3055.85 0H3103V120.002L3102.82 120.002C3071.99 120.002 3047 145.272 3047 176.444C3047 207.617 3071.99 232.887 3102.82 232.887L3103 232.887V359.521L3102.82 359.521C3071.99 359.521 3047 384.791 3047 415.963C3047 447.136 3071.99 472.406 3102.82 472.406L3103 472.406V599.041L3102.82 599.04C3071.99 599.04 3047 624.311 3047 655.483C3047 686.656 3071.99 711.926 3102.82 711.926L3103 711.926V817.002L3102.82 817.002C3071.99 817.002 3047 842.272 3047 873.445C3047 904.617 3071.99 929.887 3102.82 929.887L3103 929.887V1056.52L3102.82 1056.52C3071.99 1056.52 3047 1081.79 3047 1112.96C3047 1144.14 3071.99 1169.41 3102.82 1169.41L3103 1169.41V1264H3044.92L3044.92 1263.82C3044.92 1232.99 3019.65 1208 2988.48 1208C2957.31 1208 2932.04 1232.99 2932.04 1263.82L2932.04 1264H2805.4L2805.4 1263.82C2805.4 1232.99 2780.13 1208 2748.96 1208C2717.79 1208 2692.52 1232.99 2692.52 1263.82L2692.52 1264H2565.89L2565.89 1263.82C2565.89 1232.99 2540.62 1208 2509.44 1208C2478.27 1208 2453 1232.99 2453 1263.82L2453 1264H2326.56L2326.56 1263.82C2326.56 1232.99 2301.29 1208 2270.12 1208C2238.95 1208 2213.68 1232.99 2213.68 1263.82L2213.68 1264H2087.04L2087.04 1263.82C2087.04 1232.99 2061.77 1208 2030.6 1208C1999.43 1208 1974.15 1232.99 1974.15 1263.82L1974.16 1264H1847.52L1847.52 1263.82C1847.52 1232.99 1822.25 1208 1791.08 1208C1759.91 1208 1734.64 1232.99 1734.64 1263.82L1734.64 1264H1608L1608 1263.82C1608 1232.99 1582.73 1208 1551.56 1208C1520.39 1208 1495.12 1232.99 1495.12 1263.82L1495.12 1264H1368.48L1368.48 1263.82C1368.48 1232.99 1343.21 1208 1312.04 1208C1280.87 1208 1255.6 1232.99 1255.6 1263.82C1255.6 1263.88 1255.6 1263.94 1255.6 1264H1128.96C1128.96 1263.94 1128.96 1263.88 1128.96 1263.82C1128.96 1232.99 1103.69 1208 1072.52 1208C1041.35 1208 1016.08 1232.99 1016.08 1263.82L1016.08 1264H889.444L889.444 1263.82C889.444 1232.99 864.174 1208 833.001 1208C801.829 1208 776.559 1232.99 776.559 1263.82L776.559 1264H649.924L649.924 1263.82C649.924 1232.99 624.654 1208 593.482 1208C562.309 1208 537.039 1232.99 537.039 1263.82L537.039 1264H410.404L410.405 1263.82C410.405 1232.99 385.134 1208 353.962 1208C322.789 1208 297.519 1232.99 297.519 1263.82L297.52 1264H170.885L170.885 1263.82C170.885 1232.99 145.615 1208 114.443 1208C83.2704 1208 58.0002 1232.99 58.0002 1263.82L58.0005 1264H0V1156.41C30.7505 1156.31 55.6493 1131.08 55.6493 1099.96C55.6493 1068.85 30.7505 1043.62 0 1043.52V916.887C30.7505 916.791 55.6494 891.558 55.6494 860.445C55.6494 829.331 30.7505 804.098 0 804.002V698.926C30.7505 698.83 55.6493 673.596 55.6493 642.483C55.6493 611.37 30.7505 586.136 0 586.041V459.406C30.7505 459.31 55.6493 434.077 55.6493 402.963C55.6493 371.85 30.7505 346.617 0 346.521V219.887C30.7505 219.791 55.6494 194.558 55.6494 163.444C55.6494 132.331 30.7505 107.098 0 107.002V0H69.0711C69.024 0.935323 69.0002 1.87671 69.0002 2.8236C69.0002 33.6547 94.2704 58.6482 125.443 58.6482C156.615 58.6482 181.885 33.6547 181.885 2.8236C181.885 1.87671 181.862 0.935323 181.815 0H308.59C308.543 0.935355 308.519 1.87677 308.519 2.8237C308.519 33.6548 333.789 58.6483 364.962 58.6483C396.134 58.6483 421.405 33.6548 421.405 2.8237C421.405 1.87677 421.381 0.935355 421.334 0H548.11C548.063 0.93535 548.039 1.87676 548.039 2.82368C548.039 33.6548 573.309 58.6483 604.482 58.6483C635.654 58.6483 660.924 33.6548 660.924 2.82368C660.924 1.87676 660.9 0.93535 660.853 0H787.629C787.582 0.935343 787.559 1.87675 787.559 2.82366C787.559 33.6548 812.829 58.6483 844.001 58.6483C875.174 58.6483 900.444 33.6548 900.444 2.82366C900.444 1.87675 900.42 0.935343 900.373 0H1027.15C1027.1 0.935338 1027.08 1.87674 1027.08 2.82364C1027.08 33.6547 1052.35 58.6483 1083.52 58.6483C1114.69 58.6483 1139.96 33.6547 1139.96 2.82364C1139.96 1.87674 1139.94 0.935338 1139.89 0H1266.67C1266.62 0.935388 1266.6 1.87684 1266.6 2.8238C1266.6 33.6549 1291.87 58.6484 1323.04 58.6484C1354.21 58.6484 1379.48 33.6549 1379.48 2.8238C1379.48 1.87684 1379.46 0.935388 1379.41 0H1506.19C1506.14 0.935325 1506.12 1.87671 1506.12 2.8236C1506.12 33.6547 1531.39 58.6482 1562.56 58.6482C1593.73 58.6482 1619 33.6547 1619 2.8236C1619 1.87671 1618.98 0.935325 1618.93 0H1745.71C1745.66 0.935376 1745.64 1.87681 1745.64 2.82376C1745.64 33.6549 1770.91 58.6484 1802.08 58.6484C1833.25 58.6484 1858.52 33.6549 1858.52 2.82376C1858.52 1.87681 1858.5 0.935376 1858.45 0H1985.23C1985.18 0.935365 1985.15 1.87679 1985.15 2.82373C1985.15 33.6548 2010.43 58.6484 2041.6 58.6484C2072.77 58.6484 2098.04 33.6548 2098.04 2.82373C2098.04 1.87679 2098.02 0.935365 2097.97 0H2224.75C2224.7 0.93536 2224.68 1.87678 2224.68 2.82371C2224.68 33.6548 2249.95 58.6484 2281.12 58.6484C2312.29 58.6484 2337.56 33.6548 2337.56 2.82371C2337.56 1.87678 2337.54 0.93536 2337.49 0H2464.07C2464.02 0.935355 2464 1.87677 2464 2.8237Z"  vector-effect="non-scaling-stroke"/>
</svg>
<div class="contact-form-data">
   <div class="contact-form-heading">

    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
      <p>Do You Have Any Questions?</p>
     
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
      <p>Do You Have Any Questions?</p>
     
    {%- endif -%}
        </div>
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {{- 'icon-success.svg' | inline_asset_content -}}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {{- 'icon-error.svg' | inline_asset_content -}}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
           
        </div>
      </div>
    
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t | upcase }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          {{- 'templates.contact.form.comment' | t -}}
        </label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button" id="contact-form-button" style="
    --border-offset: none;
">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}

</div>
       
       </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
