{{ 'customrich-text.css' | asset_url | stylesheet_tag }}
<div class="rich-text-section color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {% if section.settings.layout_style == 'layout1' %} 
    <div class="layout1 page-width">
      <h2>{{ section.settings.heading | default: "Transforming Healthcare with Innovative Solutions" }}</h2>
      <div class="decorative-dots">
        {% for i in (1..10) %}
          <span class="dot"></span>
        {% endfor %}
      </div>
       <p>{{ section.settings.caption | default: "Delivering Excellence in Medical Products" }}</p>
      <div class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.text }}
      </div>
    </div>
  {% else %}
    <div class="layout2">
    <div class="dots-container">
        <div class="side-dots left">
          {% for i in (1..10) %}
            <span class="dot-l"></span>
          {% endfor %}
        </div>
        <div class="rich-text__blocks {{ section.settings.content_alignment }}">
          <h2>{{ section.settings.heading | default: "Transforming Healthcare with Innovative Solutions" }}</h2>
         
          <div class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.text }}
          </div>
        </div>
        <div class="side-dots right color-{{ section.settings.color_scheme }}">
          {% for i in (1..10) %}
            <span class="dot-l"></span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Transforming Healthcare with Innovative Solutions"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "Delivering Excellence in Medical Products"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "At [Your Company Name], we are dedicated to enhancing patient care and clinical efficiency through state-of-the-art medical products. Our commitment to innovation and quality ensures that healthcare providers have the tools they need to deliver the best possible outcomes for their patients."
    },
    {
      "type": "select",
      "id": "layout_style",
      "label": "Choose Layout",
      "options": [
        {
          "value": "layout1",
          "label": "Layout 1"
        },
        {
          "value": "layout2",
          "label": "Layout 2"
        }
      ],
      "default": "layout1"
    },
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type":"font_picker",
      "id":"font_title",
      "label": "Choose Heading Font",
      "default":"serif"
    },
    {
        "type":"font_picker",
      "id":"font_richtext",
      "label":"Choose Description Font",
       "default":"serif"
    },
       {
        "type":"font_picker",
      "id":"font_richtextsubheading",
      "label":"Choose Description Font",
       "default":"serif"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 16,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size",
      "default": 22
    },
   
  
    {
      "type": "range",
      "id": "text_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Text Font Size",
      "default": 14
    },
   
    
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}