<script src="{{ 'icon-with-text.js' | asset_url }}" defer="defer"></script>

{% if section.settings.layout == 'layout_1' %}
  {{ 'icon-with-text.css' | asset_url | stylesheet_tag }}
{% endif %}

{% style %}
  :root {
    --featured-icon-with-text-card-color: {{ section.settings.cardColor }};
    --featured-icon-with-text-inner-card-color: #fff;
    --featured-icon-with-text-title-color: {{ section.settings.titleColor }};
    --featured-icon-with-text-description-color: {{ section.settings.descriptionColor }};
    --featured-icon-with-text-icon-color: {{ section.settings.iconColor }};
  }

  {% if section.settings.layout == 'layout_2' %}

    :root {
      --primary-card-top-padding: 40px;
    }

    .icon-with-text-2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;
      background: rgb(var(--color-background));
    }
    .icon-with-text-layout2-image{
      width:100%; height:100%; object-fit:cover; border-radius: inherit;
    }
    .primary-card-container {
      min-height: calc(332px - var(--primary-card-top-padding));
      width: 250px;
      background: var(--card_background);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      padding-top: var(--primary-card-top-padding);
      scroll-snap-align: start;
      position: relative;
      flex-shrink: 0;
      overflow: hidden;
      height:200px ;
      transition: all 0.5s ease;
    }


    .card-feature-image {
      height: 104px;
      width: 104px;
      background: rgba(0,0,0, 0.15);
      border-radius: 2px;
      z-index: 1;
    }

    .card-main-heading {
      /* font-family: 'Open Sans', sans-serif;
      font-weight: 600; */
      font-size: 24px;
      line-height: 32.68px;
      text-align: center;
      color: rgb(var(--color-foreground));
      z-index: 1;
    }

    .card-action-button {
      position: absolute;
      background: rgb(var(--color-button-text));
      bottom: 12px;
      right: 12px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: xx-large;
      cursor: pointer;
      transition: transform 0.3s ease;
      z-index: 1;
    }

    .card-action-button.active {
      transform: rotate(45deg);
    }

    .scroll-container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      scrollbar-width: none;
      background-color: rgb(var(--color-background));
    }

    .card-container {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      width: calc(100% - 106px);
      margin: 0 53px;
    }

    .side-decoration {
      width: 33px;
      height: 40px;
      background: rgb(var(--color-background));
      position: absolute;
      top: 125px;
      display: block !important;
    }

    .side-decoration-left {
      left: -17px;
    }

    .side-decoration-right {
      right: -17px;
    }

    .scroll-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: 2px solid rgb(var(--color-secondary-button-text));
      border-radius: 50%;
      height: 40px;
      width: 40px;
      font-size: larger;
      cursor: pointer;
      position: absolute;
      z-index: 1;
    }

    .scroll-button.next {
      right: 10px;
    }

    .card-description-text {
      transform: translateY(300px);
      transition: transform 0.5s ease-in-out;
      z-index: 1;
    }

    .card-description-text.show {
      transform: translateY(0);
      padding: 10px;
      margin-bottom:50px;
    }

    .background-decoration {
      display: block !important;
      position: absolute;
      top: 100%;
      left: 100%;
      border-radius: 100%;
      height: 100%;
      width: 100%;
      background: var(--card_foreground);
      transition: all 0.5s ease-in-out;
      z-index: 0;
    }

    .background-decoration.show {
      border-radius: 0;
      top: 0;
      left: 0;
    }

    .icon-with-text-2-dots {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    .icon-with-text-2-dot {
      background: rgb(var(--color-foreground));
      display: block !important;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transition: all 0.45s ease;
      margin: 0 !important;
    }

    .icon-with-text-2-dot.active {
      width: 23px;
      border-radius: 13px;
    }
  {% endif %}
{% endstyle %}

<div data-section-id="{{ section.id }}">
  {% if section.settings.layout == 'layout_1' %}
    <div style="display: flex; flex-direction: column; gap: 32px; padding: 20px;"
         class="color-{{ section.settings.sectionColor }} featured-icon-with-text-section">
      <div style="display: flex; flex-direction: column; gap: 4px; ">
        <p style="font-weight: 600; font-size: 24px; line-height: 30px; color: var(--featured-icon-with-text-section-headings-color)" >{{ section.settings.heading }}</p>
        <p style="font-weight: 500; font-size: 14px; line-height: 21px; color: var(--featured-icon-with-text-section-headings-color)" >{{ section.settings.subheading }}</p>
      </div>
      <div class="icon-with-text-container color-{{ section.settings.sectionColor }}">
        {% for item in section.blocks %}
          <div class="card__outer__container">
            <div class="card__container">
              <div class="card__inner_container">
                <div class="card__contents">
                  <div class="card__icon" style="background-color: var(--featured-icon-with-text-card-color);">
                    {% if item.settings.icon %}
                                          {{
 item.settings.icon
  | image_url: width: 1800
  | image_tag:
    width: 100,
    height: 100,
    alt: "icon" | escape
}}
                    {% else %}
                      <div style="width: 100%; height: 100%;">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' | replace: 'svg', 'svg style="width: 100%; height: 100%; scale: 2"' }}</div>
                    {% endif %}
                  </div>
                  <div class="card__title fira-sans-semibold">
                    <p>{{ item.settings.title }}</p>
                  </div>
                </div>
                <div class="description__button__outer__container">
                  <button class="description__button__container" aria-label="Open"> 
                    <span class="description__button__inner_container">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 10 10">
                        <path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"/>
                      </svg>
                    </span>
                  </button>
                </div>
                <div class="description__container">
                  <span class="description__close__button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus icon-close" viewBox="0 0 10 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"/>
                    </svg>
                  </span>
                  <p class="inter-regular" style="color: var(--featured-icon-with-text-description-color);">
                    {{ item.settings.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="card__count__container">
        {% for item in section.blocks %}
          <div class="dot color-{{ section.settings.cardColor }}"></div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="icon-with-text-2 color-{{ section.settings.sectionColor }}">
      <div style="display: flex; flex-direction: column; gap: 4px; padding: 20px; ">
        <p style="font-weight: 600; font-size: 24px; line-height: 30px; color: var(--featured-icon-with-text-section-headings-color)" >{{ section.settings.heading }}</p>
        <p style="font-weight: 500; font-size: 14px; line-height: 21px; color: var(--featured-icon-with-text-section-headings-color)" >{{ section.settings.subheading }}</p>
      </div>
      <div class="scroll-container" id="section-{{ section.id }}">
        <div class="card-container" id="cardContainer">
          {% for item in section.blocks %}
            <div class="primary-card-container">
              <div class="card-feature-image">
                {% if item.settings.icon %}
                     {{
 item.settings.icon
  | image_url: width: 1800
  | image_tag:
    width: 500,
    height: 500,
    class: "icon-with-text-layout2-image",
    alt: "icon" | escape
}}
                {% else %}
                  <div style="width:100%; height:100%;">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' | replace: 'svg', 'svg style="width:100%; height:100%; scale:2"' }}</div>
                {% endif %}
              </div>
              <div class="card-main-heading">{{ item.settings.title }}</div>
              <div class="card-description-text">{{ item.settings.description }}</div>
              <div class="card-action-button">
                <span style="width:12px; height:12px; color:rgb(var(--color-secondary-button-text));" class="svg-wrapper">{{- 'icon-plus.svg' | inline_asset_content -}}</span>
              </div>
              <div class="side-decoration side-decoration-left"></div>
              <div class="side-decoration side-decoration-right"></div>
              <div class="background-decoration"></div>
            </div>
          {% endfor %}
          <button class="scroll-button next">
            <span style="width:24px; height:24px; color:rgb(var(--color-secondary-button-text)); rotate:-90deg;" class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
          </button>
        </div>
      </div>
      <div class="icon-with-text-2-dots">
        {% for item in section.blocks %}
          <div class="icon-with-text-2-dot"></div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>


{% schema %}
{
  "name": "Icon With Text",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "aside","footer","header"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout Style",
      "options": [
        {
          "value": "layout_1",
          "label": "Layout 1 - Grid Style"
        },
        {
          "value": "layout_2",
          "label": "Layout 2 - Carousel Style"
        }
      ],
      "default": "layout_1"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Add heading here!"
    },
    {
      "type": "text",
      "label": "Subheading",
      "id": "subheading",
      "default": "Add sub-heading here!"
    },
    {
      "type": "color_scheme",
      "label": "Section Color",
      "id": "sectionColor",
      "default": "scheme_1"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Select Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter Title",
          "default": "Card Heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Enter Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon With Text",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
