<script src="{{ 'icon-with-text.js' | asset_url }}" defer="defer"></script>
{{ 'icon-with-text.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
    --featured-icon-with-text-section-color: {{ section.settings.sectionColor }};
    --featured-icon-with-text-section-headings-color: {{ section.settings.sectionHeadingsColor }};
    --featured-icon-with-text-card-color: {{ section.settings.cardColor }};
    --featured-icon-with-text-inner-card-color: {{ section.settings.innerCardColor }};
    --featured-icon-with-text-title-color: {{ section.settings.titleColor }};
    --featured-icon-with-text-description-color: {{ section.settings.descriptionColor }};
    --featured-icon-with-text-icon-color: {{ section.settings.iconColor }};
}
{% endstyle %}

<div style="display: flex; flex-direction: column; gap: 6rem; padding: 20px 0;" class="featured-icon-with-text-section" data-section-id="{{ section.id }}">
  <div style="display: flex; flex-direction: column; gap: 4px; padding: 0 20px;">
    <p style="font-weight: 600; font-size: 24px; line-height: 30px; color: var(--featured-icon-with-text-section-headings-color)" class="fira-sans-semibold">{{ section.settings.heading }}</p>
    <p style="font-weight: 500; font-size: 14px; line-height: 21px; color: var(--featured-icon-with-text-section-headings-color)" class="inter-medium">{{ section.settings.subheading }}</p>
  </div>
  <div class="icon-with-text-container">
    {% for item in section.blocks %}
      <div class="card__outer__container">
        <div class="card__container">
          <div class="card__inner_container">
            <div class="card__contents">
              <div class="card__icon" style="background-color: var(--featured-icon-with-text-card-color);">
                {% if item.settings.icon %}
                  <img src="{{ item.settings.icon |  image_url  }}" width="100" height="100" alt="icon">
                {% else %}
                  {% comment %} <div style="display: block !important; width: 1px; height: 100%; background: rgba(var(--color-foreground), 0.75); position: absolute; left: 50%; rotate: 45deg;"></div>
                  <div style="display: block !important; width: 1px; height: 100%; background: rgba(var(--color-foreground), 0.75); position: absolute; left: 50%; rotate: -45deg;"></div> {% endcomment %}
                  <div style="width: 100%; height: 100%;">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' | replace: 'svg', 'svg style="width: 100%; height: 100%; scale: 2"' }}</div>
                {% endif %}
              </div>
              <div class="card__title fira-sans-semibold">
                <p>{{ item.settings.title }}</p>
              </div>
            </div>
            <div class="description__button__outer__container">
              <button class="description__button__container">
                <span class="description__button__inner_container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    class="icon icon-plus"
                    viewBox="0 0 10 10"
                  >
                    <path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </button>
            </div>
            <div class="description__container">
              <span class="description__close__button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  class="icon icon-plus icon-close"
                  viewBox="0 0 10 10"
                >
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
              <p class="inter-regular" style="color: var(--featured-icon-with-text-description-color);">
                {{ item.settings.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="card__count__container">
    {% for item in section.blocks %}
      <div class="dot color-{{ section.settings.cardColor }}"></div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Icon With Text",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "aside","footer","header"
    ]
  },
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Key Features"
    },
    {
      "type": "text",
      "label": "Subheading",
      "id": "subheading",
      "default": "See how we prioritize your well-being"
    },
    {
      "type": "color",
      "label": "Section Headings Color",
      "id": "sectionHeadingsColor",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section Background Color",
      "id": "sectionColor",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "label": "Card Color",
      "id": "cardColor",
      "default": "#d1d1d1"
    },
    {
      "type": "color",
      "label": "Inner Card Color",
      "id": "innerCardColor",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Title Color",
      "id": "titleColor",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Description Color",
      "id": "descriptionColor",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Icon Color",
      "id": "iconColor",
      "default": "#000000"
    },
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Select Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter Title",
          "default": "Pay On Delivery"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Enter Description",
          "default":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dignissimos a tempore quis debitis nihil magnam labore ipsam blanditiis, voluptate iste deserunt doloribus aliquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dignissimos a tempore quis debitis nihil magnam labore ipsam blanditiis, voluptate iste deserunt doloribus aliquam?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon With Text",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
