{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
<div class="container" style="background-color: {{ section.settings.container_bg_color }};">
  <div class="strip-right" style="background-color: {{ section.settings.right_strip_bg_color }};">
      <div class="strip-1">
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
      </div>
  </div>
   <div class="strip-left" style="background-color: {{ section.settings.left_strip_bg_color }};">
      <div class="strip-2">
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
          <div class="offer-text" style="color: {{ section.settings.subscribe_offers_color }};">{{ section.settings.offer_text }} &rarr;</div>
      </div>
  </div>
</div>


<footer style="background-color: {{ section.settings.footer_background_color }}; font-family: 'Inter', sans-serif;">
    <div class="footer-content" style="color: {{ section.settings.footer_text_color }};">
        <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.STAY_CONNECTED_TITLE }}</h4>
            <form action="{{ shop.url }}" method="post">
                <div class="form-container">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
                    <i class="fa-regular fa-envelope email-icon"></i>
                    <input type="email" name="email" class="email-input" placeholder="Enter your mail">
                    <button class="subscribe-button">Subscribe</button>
                </div>
            </form>
        </div>
    <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.menu_title | default: "ABOUT US" }}</h4>
            <ul>
                {% for link in linklists[section.settings.about_us_menu].links %}
                <li>
                    <a href="{{ link.url }}" style="color: {{ section.settings.menu_item_color }};">
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.PRODUCTS_title | default: "PRODUCTS" }}</h4>
            <ul>
                {% for link in linklists[section.settings.products_menu].links %}
                <li>
                    <a href="{{ link.url }}" style="color: {{ section.settings.menu_item_color }};">
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.CUSTOMER_SERVICES_title | default: "CUSTOMER SERVICES" }}</h4>
            <ul>
                {% for link in linklists[section.settings.customer_services_menu].links %}
                <li>
                    <a href="{{ link.url }}" style="color: {{ section.settings.menu_item_color }};">
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.RESOURCES_title | default: "RESOURCES" }}</h4>
            <ul>
                {% for link in linklists[section.settings.resources_menu].links %}
                <li>
                    <a href="{{ link.url }}" style="color: {{ section.settings.menu_item_color }};">
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

      
         <div class="footer-column">
            <h4 style="color: {{ section.settings.menu_title_color }};">{{ section.settings.social_media_title | default: "SOCIAL MEDIA" }}</h4>
    <ul>
        <li>
            <a href="{{ section.settings.facebook_link }}" style="color: {{ section.settings.footer_text_color }};">
                {{ section.settings.facebook_text | default: 'Facebook' }}
            </a>
        </li>
        <li>
            <a href="{{ section.settings.twitter_link }}" style="color: {{ section.settings.footer_text_color }};">
                {{ section.settings.twitter_text | default: 'Twitter' }}
            </a>
        </li>
        <li>
            <a href="{{ section.settings.instagram_link }}" style="color: {{ section.settings.footer_text_color }};">
                {{ section.settings.instagram_text | default: 'Instagram' }}
            </a>
        </li>
        <li>
            <a href="{{ section.settings.linkedin_link }}" style="color: {{ section.settings.footer_text_color }};">
                {{ section.settings.linkedin_text | default: 'LinkedIn' }}
            </a>
        </li>
    </ul>
</div>
    </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
{
  "id": "container_bg_color",
  "type": "color",
  "label": "Container Background Color",
  "default": "#ffffff"
},

      {
  "id": "right_strip_bg_color",
  "type": "color",
    "label": "Right Strip Background Color",    
  "default": "#ffffff"
},
{
  "label": "Left Strip Background Color",
  "id": "left_strip_bg_color",
  "type": "color",
  "default": "#ffffff"
},
      
  {
            "type": "color",
            "id": "footer_text_color",
            "label": "Footer Text Color",
            "default": "#000"
        },
        
        {
            "type": "color",
            "id": "footer_background_color",
            "label": "Footer Background Color",
            "default": "#fff"
        },
      {
  "type": "color",
  "id": "menu_item_color",
  "label": "Menu Item Text Color",
  "default": "#000"
},
{
  "type": "color",
  "id": "menu_title_color",
  "label": "Menu Title Color",
  "default": "#000"
},
        {
            "type": "color",
            "id": "subscribe_offers_color",
            "label": "Subscribe Offers Color",
            "default": "#333"
        },

  {
      "type": "link_list",
      "id": "about_us_menu",
      "label": "About Us Menu"
    },
    {
      "type": "text",
      "id": "menu_title",
      "label": "About Us Menu Title",
      "default": "ABOUT US"
    },
    {
      "type": "link_list",
      "id": "products_menu",
      "label": "Products Menu"
    },
    {
      "type": "text",
      "id": "PRODUCTS_title",
      "label": "Products Menu Title",
      "default": "PRODUCTS"
    },
    {
      "type": "link_list",
      "id": "customer_services_menu",
      "label": "Customer Services Menu"
    },
    {
      "type": "text",
      "id": "CUSTOMER_SERVICES_title",
      "label": "Customer Services Menu Title",
      "default": "CUSTOMER SERVICES"
    },
    {
      "type": "link_list",
      "id": "resources_menu",
      "label": "Resources Menu"
    },
    {
      "type": "text",
      "id": "RESOURCES_title",
      "label": "Resources Menu Title",
      "default": "RESOURCES"
    },


      
    {
        "type": "text",
        "id": "offer_text",
        "label": "Offer Text",
        "default": "Subscribe for exclusive offers!"
      },
      {
        "type": "text",
        "id": "STAY_CONNECTED_TITLE",
        "label": "Stay Connected Title",
        "default": "STAY CONNECTED WITH US"
      },
      {
        "type": "text",
        "id": "subscribe_button_text",
        "label": "Subscribe Button Text",
        "default": "Subscribe"
      },
    
      {
        "type": "text",
        "id": "SOCIAL_MEDIA_TITLE",
        "label": "Social Media Title",
        "default": "SOCIAL MEDIA"
      },
    {
    "type": "text",
    "id": "facebook_link",
    "label": "Facebook Link",
    "default": "#"
},
{
    "type": "text",
    "id": "facebook_text",
    "label": "Facebook Text",
    "default": "Facebook"
},
{
    "type": "text",
    "id": "twitter_link",
    "label": "Twitter Link",
    "default": "#"
},
{
    "type": "text",
    "id": "twitter_text",
    "label": "Twitter Text",
    "default": "Twitter"
},
{
    "type": "text",
    "id": "instagram_link",
    "label": "Instagram Link",
    "default": "#"
},
{
    "type": "text",
    "id": "instagram_text",
    "label": "Instagram Text",
    "default": "Instagram"
},
{
    "type": "text",
    "id": "linkedin_link",
    "label": "LinkedIn Link",
    "default": "#"
},
{
    "type": "text",
    "id": "linkedin_text",
    "label": "LinkedIn Text",
    "default": "LinkedIn"
},
    ]
  }
  {% endschema %}
