
<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

<script src="{{ 'header.js' | asset_url }}" defer></script>

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }}" style="--padding-top: {{ section.settings.padding_top }}px; --padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="flex-container" style="--margin-right: {{ section.settings.margin_right }}px; --margin-left: {{ section.settings.margin_left }}px">
    <a href="{{ routes.root_url }}" class="logo-container">
      {% if section.settings.logo or settings.logo != blank %}
      <img src="{% if section.settings.logo != blank %}{{ section.settings.logo | image_url }}{% else %}{{ settings.logo | image_url }}{% endif %}" alt="{{ shop.name }}" loading="lazy" width="500" height="500">
      {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
    </a>

    <header class="header color-{{ section.settings.color_scheme }}">
      <nav style="width: 60%;">
        <ul class="nav-items" style="--nav-items-justify-content: Left;">
          {% for link in section.settings.menu.links %}
            {% assign has_dropdown = false %}
            {% if link.links != blank %}
              {% assign has_dropdown = true %}
            {% endif %}
            <li class="nav-item{% if has_dropdown %} has-dropdown{% endif %}">
            <a href="{{ link.url }}" class="nav-link{% if link.active %} active{% endif %} color-{{ section.settings.color_scheme }}" style="--font-size: {{ section.settings.font_size }};">{{ link.title }}</a>
              {% if has_dropdown %}
                <div class="dropdown-container color-{{ section.settings.color_scheme }}">
                  <ul class="dropdown">
                    {% for childlink in link.links %}
                      <li>
                      <a href="{{ childlink.url }}" class="dropdown-item{% if childlink.active %} active{% endif %} color-{{ section.settings.color_scheme }}">
                          {{- childlink.title -}}
                        </a>
                        {% if childlink.links != blank %}
                          <ul class="nested-dropdown color-{{ section.settings.color_scheme }}">
                            {% for grandchildlink in childlink.links %}
                              <li>
                                <a
                                  href="{{ grandchildlink.url }}"
                                  class="dropdown-item{% if grandchildlink.active %} active{% endif %} color-{{ section.settings.color_scheme }}"
                                >
                                  {{- grandchildlink.title -}}
                                </a>
                              </li>
                            {% endfor %}
                            <div class="nested-dropdown-overlay">
                              <div class="nested-dropdown-overlay-circles">
                                {% for i in (1..100) %}
                                  <div class="nested-dropdown-overlay-circle"></div>
                                {% endfor %}
                              </div>
                            </div>
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="dropdown-overlay" style="z-index: 999;"></div>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
<div class="header-dots">
  <div class="h-dots"><h1></h1></div>
   <div class="h-dots"><h1></h1></div>
   <div class="h-dots"><h1></h1></div>
   <div class="h-dots"><h1></h1></div>
</div>
    

         <div class="localization header-localization">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
          </div>

      <div class="nav-icons">
{% case section.settings.search_icon_style %}
    {% when '1' %}
  <div class="nav-icon">
    <a href="{{ routes.search_url }}" class="js-drawer-open-cart">
       <img src="{{ 'search-icon.png' | asset_url }}" alt="Cart" class="navpngicon">
       </a>
  </div>
    {% when '2' %}
            <div class="nav-icon">
          <a href="{{ routes.search_url }}" class="search-toggle">
            <span class="svg-wrapper">{{ 'icon-search.svg' | inline_asset_content }}</span>
          </a>
        </div>
    {% when 'none' %}
       
         {%- comment -%}No icon displayed{%- endcomment -%}
{% endcase %}
 {% case section.settings.cart_icon_style %}
      {% when '1' %}
  <div class="nav-icon">
    <a href="{{ routes.cart_url }}" class="js-drawer-open-cart">
       <img src="{{ 'cart-icon.png' | asset_url }}" alt="Cart" class="navpngicon">
       </a>
  </div>
         {% when '2' %}
         <div class="nav-icon">
          <a href="{{ routes.cart_url }}" class="js-drawer-open-cart">
            <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            {% comment %} <span class="cart-count">{{ cart.item_count }}</span> {% endcomment %}
          </a>
        </div>
     {% when 'none' %}
         {%- comment -%}No icon displayed{%- endcomment -%}
     {% endcase %}
      
{% case section.settings.account_icon_style %}
      {% when '1' %}
  <div class="nav-icon">
    <a href="{{ routes.account_url }}" class="js-drawer-open-cart">
       <img src="{{ 'profile-icon.png' | asset_url }}" alt="Cart" class="navpngicon">
       </a>
  </div>
         {% when '2' %}
          <div class="nav-icon">
          <a href="{{ routes.account_url }}" class="">
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          </a>
        </div>
     {% when 'none' %}
         {%- comment -%}No icon displayed{%- endcomment -%}
     {% endcase %}

</div>
    </header>

    <div class="mobile-header-drawer color-{{ section.settings.color_scheme }}">
      <div class="mobile-header-drawer-close">
        <div class="close-icon">
          <span class="svg-wrapper" style="width: 23px; height: 23px;">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
      <div class="mobile-search-wrapper">
        <form class="mobile-search-form" action="{{ routes.search_url }}" method="get" role="search">
          <button type="submit" aria-label="Submit search">
            <span class="svg-wrapper">{{ 'icon-search.svg' | inline_asset_content }}</span>
          </button>
          <input type="search" name="q" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <nav>
        <ul class="mobile-nav-items">
          {% for link in section.settings.menu.links %}
            <li class="mobile-nav-item{% if link.links != blank %} has-dropdown{% endif %}">
              <a href="{{ link.url }}" class="mobile-nav-link">
                {{ link.title }}
                {% if link.links != blank %}
                  <span class="svg-wrapper" style="height: 16px; width: 16px;">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                {% endif %}
              </a>
            
              {% if link.links != blank %}
                 
                <ul class="mobile-dropdown">
                  
                  {% for childlink in link.links %}
                    <li class="mobile-dropdown-item-container">
                      <a href="{{ childlink.url }}" class="mobile-dropdown-item">
                        {{ childlink.title }}
                        {% if childlink.links != blank %}
                          <span class="svg-wrapper" style="height: 16px; width: 16px;">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        {% endif %}
                      </a>
                      {% if childlink.links != blank %}
                        <ul class="mobile-nested-dropdown">
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a href="{{ grandchildlink.url }}" class="mobile-dropdown-item">
                                {{- grandchildlink.title -}}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="mobile-nav-icons-container">
        <div class="mobile-nav-indicators">
          <div class="mobile-nav-green-dot"></div>

        <div class="country-selector-header-2">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <localization-form>
            {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                <div>
                     <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                         {{ 'localization.country_label' | t }} 
                    </h2> 
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                </div>
            {%- endform -%}
        </localization-form>
    {% endif %}
</div>
        </div>
        <div style="display: flex;align-items: center;">
          {%- if section.settings.enable_scroll_tracking -%}
            <div class="scroll-tracker"><p><span class="scroll-distance"></span>Km</p></div>
          {%- endif -%}
        </div>
        <div class="mobile-nav-icons">
          <div class="nav-icon">
            <a href="{{ routes.cart_url }}" class="js-drawer-open-cart"
            aria-label="Open your shoping cart">
            <span class="svg-wrapper" style="height: 16px; width: 16px;">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            </a>
          </div>
          <div class="nav-icon">
            <a href="{{ routes.account_url }}" class=""
            aria-label="Open your account information">
            <span class="svg-wrapper" style="height: 16px; width: 16px;">{{ 'icon-account.svg' | inline_asset_content }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
 <div class="hamburger color-{{ section.settings.color_scheme }}">
    <svg class="ham ham2" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
  <path
        class="line top"
        d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381" />
  <path
        class="line middle"
        d="m 30,50 h 40" />
  <path
        class="line bottom"
        d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381" />
</svg>
    </div>
  </div>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

<script>
  
document.addEventListener('DOMContentLoaded', calculateOffsets);
function debounce(func, wait) {
  let timeout;
  return function executedFunction(...args) {
    const later = () => {
      clearTimeout(timeout);
      func(...args);
    };
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
  };
}
function calculateOffsets() {
  setTimeout(() => {
    const navItems = document.querySelectorAll('.nav-item');
    const header = document.querySelector('.header');
    
    if (!header || !navItems.length) return;
    
    navItems.forEach(item => {
      void header.offsetHeight;
      
      const headerLeft = header.getBoundingClientRect().left;
      const itemLeft = item.getBoundingClientRect().left;
      const offset = itemLeft - headerLeft-12;
    
      const currentOffset = parseFloat(getComputedStyle(item).getPropertyValue('--dropdown-offset'));
      if (currentOffset !== offset) {
        item.style.setProperty('--dropdown-offset', `${offset}px`);
      }
    });
  }, 50);
}
const debouncedCalculate = debounce(() => {
  calculateOffsets();
}, 150);

window.addEventListener('resize', debouncedCalculate);
window.addEventListener('orientationchange', calculateOffsets);
document.addEventListener('transitionend', (e) => {
  if (e.target.classList.contains('header') || 
      e.target.classList.contains('nav-item') ||
      e.target.closest('.header')) {
    calculateOffsets();
  }
});
window.addEventListener('load', calculateOffsets);
const observer = new MutationObserver(debouncedCalculate);
observer.observe(document.querySelector('.header'), {
  childList: true,
  subtree: true,
  attributes: true,
  attributeFilter: ['class', 'style']
});
  
</script>
    
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Header Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        {
          "value": "10px",
          "label": "Small"
        },
        {
          "value": "12px",
          "label": "Regular"
        },
        {
          "value": "14px",
          "label": "Medium"
        },
        {
          "value": "16px",
          "label": "Large"
        }
      ],
      "default": "12px"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "select",
      "id": "search_icon_style",
      "label": "Search Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Icon 1"
        },
        {
          "value": "2",
          "label": "Icon 2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "cart_icon_style",
      "label": "Cart Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Icon 1"
        },
        {
          "value": "2",
          "label": "Icon 2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "account_icon_style",
      "label": "Account Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Icon 1"
        },
        {
          "value": "2",
          "label": "Icon 2"
        }
      ],
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },

    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 8,
      "step": 1,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 8,
      "step": 1,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "margin_left",
      "label": "Margin Left",
      "default": 71,
      "step": 1,
      "max": 100,
      "min": 0
    },
    {
      "type": "range",
      "id": "margin_right",
      "label": "Margin Right",
      "default": 71,
      "step": 1,
      "max": 100,
      "min": 0
    },
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
