<script async src="{{ 'header.js' |  asset_url }}"></script>
<link rel="stylesheet" href="{{ 'header.css' |  asset_url}}">

<style>
  
  
</style>

<header class="header">
  <div class="header__top">
    <div class="header__logo__container">
      {% if section.settings.image_picker %}
        <img
          src="{{ section.settings.image_picker |  image_url  }}"
          class="header__logo"
          alt=""
          srcset=""
          height="72"
          width="128"
        >
      {% else %}
        <p>Pick Logo</p>
      {% endif %}
    </div>
    <div class="header__nav__contents">
      <form
        id="header__search__form"
        action=""
        class="header__search__container"
      >
        <label tabindex="0" for="" class="header__search__label">
          <button
            type="submit"
            form="header__search__form"
            class="header__search__button"
          >
            <span>
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.3333 12.3333L9.53553 9.53554M11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11C8.76142 11 11 8.76142 11 6Z"
                  stroke="#B4B4B4"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
        </label>
        <input
          placeholder="Search"
          type="text"
          class="header__search__box"
        >
      </form>
      <div class="header__icons">
        <a href="" class="header__icon__cart header_icon">
          <span>
            <svg
              width="28"
              height="26"
              viewBox="0 0 28 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.66666 1H4.99999L7.66666 19.6667H21.6667M21.6667 19.6667C20.1939 19.6667 19 20.8606 19 22.3333C19 23.8061 20.1939 25 21.6667 25C23.1394 25 24.3333 23.8061 24.3333 22.3333C24.3333 20.8606 23.1394 19.6667 21.6667 19.6667ZM7.09522 15.6667H23L27 3.66667H5.38093M13.6667 22.3333C13.6667 23.8061 12.4727 25 11 25C9.52723 25 8.33332 23.8061 8.33332 22.3333C8.33332 20.8606 9.52723 19.6667 11 19.6667C12.4727 19.6667 13.6667 20.8606 13.6667 22.3333Z"
                stroke="#454545"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <a href="" class="header__icon__bell header_icon">
          <span>
            <svg
              width="24"
              height="26"
              viewBox="0 0 24 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.00001 19.6667V21C8.00001 21.5253 8.10347 22.0454 8.30449 22.5307C8.50551 23.016 8.80015 23.457 9.17158 23.8284C9.54302 24.1999 9.98397 24.4945 10.4693 24.6955C10.9546 24.8965 11.4747 25 12 25C12.5253 25 13.0454 24.8965 13.5307 24.6955C14.016 24.4945 14.457 24.1999 14.8284 23.8284C15.1999 23.457 15.4945 23.016 15.6955 22.5307C15.8965 22.0454 16 21.5253 16 21V19.6667M20 9C20 13 22.6667 19.6667 22.6667 19.6667H1.33334C1.33334 19.6667 4.00001 14.3333 4.00001 9C4.00001 4.64266 7.64268 1 12 1C16.3573 1 20 4.64267 20 9Z"
                stroke="#454545"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <a href="" class="header__icon__profile header_icon">
          <span>
            <svg
              width="26"
              height="26"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 21.9444C21 19.7847 19.4377 16.9999 17 17H9C6.56229 16.9999 5 19.7847 5 21.9444M1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13ZM17 9C17 11.2091 15.2091 13 13 13C10.7909 13 9 11.2091 9 9C9 6.79086 10.7909 5 13 5C15.2091 5 17 6.79086 17 9Z"
                stroke="#454545"
                stroke-width="1.5"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    {% for link in section.settings.menu.links %}
        <a href="{{ link.url }}" {% if link.current %}
          aria-current="page"
        {% endif %} class="{% if link.current %} active{% endif %}">{{ link.title }}</a>
        {% if link.links.size > 0 %}
            {% for child_link in link.links %}
              <li>
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                {% if child_link.links.size > 0 %}
                  <ul>
                    {% for grandchild_link in child_link.links %}
                      <li>
                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
  </div>
  <div>
    <div
      class="semicircles__center header__semicircle__left"
      style=""
    ></div>
    <div
      class="semicircles__center header__semicircle__right"
      style=""
    ></div>
  </div>
  <div class="header__drawer">
    <div id="header__semicircle__bottom_container"></div>
  </div>
</header>

{% schema %}
{
  "name": "Header 2",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "image_picker",
      "label": "Header Logo",
      "info": "For best view please use logo with aspect ratio of 16:9"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header 2"
    }
  ]
}
{% endschema %}
