<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<script src="{{ 'header.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{'scroll-tracker.css' |  asset_url}}" media="print" onload="this.media='all'">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>


 <div {% if section.settings.sticky_header_type != 'none'%} sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }}" style="--padding-top: {{ section.settings.padding_top }}px; --padding-bottom: {{ section.settings.padding_bottom }}px;">


<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }}" style="--padding-top: {{ section.settings.padding_top }}px; --padding-bottom: {{ section.settings.padding_bottom }}px;">

  <div class="flex-container" style="--margin-right: {{ section.settings.margin_right }}px; --margin-left: {{ section.settings.margin_left }}px">
    <a href="{{ routes.root_url }}" class="logo-container">
      
      {% if section.settings.logo or settings.logo != blank %}
        <div class="logo-containerimage">
      <img src="{% if section.settings.logo != blank %}{{ section.settings.logo | image_url }}{% else %}{{ settings.logo | image_url }}{% endif %}" alt="{{ shop.name }}" loading="lazy" width="500" height="500">
     </div>
        {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
    </a>

    <header class="header color-{{ section.settings.color_scheme }}">
      <nav style="width: 100%;">
        <ul class="nav-items" style="--nav-items-justify-content: {{ section.settings.nav_items_justify_content }};">
          {% for link in section.settings.menu.links %}
            {% assign has_dropdown = false %}
            {% if link.links != blank %}
              {% assign has_dropdown = true %}
            {% endif %}
            <li class="nav-item{% if has_dropdown %} has-dropdown{% endif %}">
            <a href="{{ link.url }}" class="nav-link{% if link.active %} active{% endif %} color-{{ section.settings.color_scheme }}" style="--font-size: {{ section.settings.font_size }};">{{ link.title }}</a>
              {% if has_dropdown %}
                <div class="dropdown-container color-{{ section.settings.color_scheme }}">
                  <ul class="dropdown">
                    {% for childlink in link.links %}
                      <li>
                      <a href="{{ childlink.url }}" class="dropdown-item{% if childlink.active %} active{% endif %} color-{{ section.settings.color_scheme }}">
                          {{- childlink.title -}}
                        </a>
                        {% if childlink.links != blank %}
                          <ul class="nested-dropdown color-{{ section.settings.color_scheme }}">
                            {% for grandchildlink in childlink.links %}
                              <li>
                                <a
                                  href="{{ grandchildlink.url }}"
                                  class="dropdown-item{% if grandchildlink.active %} active{% endif %} color-{{ section.settings.color_scheme }}"
                                >
                                  {{- grandchildlink.title -}}
                                </a>
                              </li>
                            {% endfor %}
                            <div class="nested-dropdown-overlay">
                              <div class="nested-dropdown-overlay-circles">
                                {% for i in (1..100) %}
                                  <div class="nested-dropdown-overlay-circle"></div>
                                {% endfor %}
                              </div>
                            </div>
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="dropdown-overlay" style="z-index: 999;"></div>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      
           <div class="localization header-localization">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
          </div>

     
      

      {%- if section.settings.enable_scroll_tracking -%}
        <div class="scroll-tracker"><p><span class="scroll-distance"></span>Km</p> <span class="svg-wrapper" style="height: 12px; width: 12px;">{{ 'icon-arrow.svg' | inline_asset_content }}</span></div>
      {%- endif -%}

      <div class="nav-icons">
        <div class="nav-icon">
          <a href="{{ routes.search_url }}" class="search-toggle">
            <span class="svg-wrapper">{{ 'icon-search.svg' | inline_asset_content }}</span>
          </a>
        </div>
        <div class="nav-icon">
          <a href="{{ routes.cart_url }}" class="js-drawer-open-cart">
            <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            {% comment %} <span class="cart-count">{{ cart.item_count }}</span> {% endcomment %}
          </a>
        </div>
        <div class="nav-icon">
          <a href="{{ routes.account_url }}" class="">
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          </a>
        </div>
      </div>
      </div>
    </header>

    <div class="mobile-header-drawer color-{{ section.settings.color_scheme }}">
      <div class="mobile-header-drawer-close">
        <div class="close-icon">
          <span class="svg-wrapper" style="width: 12px; height: 12px;">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
      <div class="mobile-search-wrapper">
        <form class="mobile-search-form" action="{{ routes.search_url }}" method="get" role="search">
          <button type="submit" aria-label="Submit search">
            <span class="svg-wrapper">{{ 'icon-search.svg' | inline_asset_content }}</span>
          </button>
          <input type="search" name="q" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <nav>
        <ul class="mobile-nav-items">
          {% for link in section.settings.menu.links %}
            <li class="mobile-nav-item{% if link.links != blank %} has-dropdown{% endif %}">
              <a href="{{ link.url }}" class="mobile-nav-link">
                {{ link.title }}
                {% if link.links != blank %}
                  <span class="svg-wrapper" style="height: 16px; width: 16px;">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                {% endif %}
              </a>
              {% if link.links != blank %}
                <ul class="mobile-dropdown">
                  {% for childlink in link.links %}
                    <li class="mobile-dropdown-item-container">
                      <a href="{{ childlink.url }}" class="mobile-dropdown-item">
                        {{ childlink.title }}
                        {% if childlink.links != blank %}
                          <span class="svg-wrapper" style="height: 16px; width: 16px;">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        {% endif %}
                      </a>
                      {% if childlink.links != blank %}
                        <ul class="mobile-nested-dropdown">
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a href="{{ grandchildlink.url }}" class="mobile-dropdown-item">
                                {{- grandchildlink.title -}}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="mobile-nav-icons-container">
        <div class="mobile-nav-indicators">
          <div class="mobile-nav-green-dot"></div>

      <div class="menu-drawer__localization header-localization">
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
          </div>
        </div>
        <div style="display: flex;align-items: center;">
          {%- if section.settings.enable_scroll_tracking -%}
            <div class="scroll-tracker"><p><span class="scroll-distance"></span>Km</p></div>
          {%- endif -%}
        </div>
        <div class="mobile-nav-icons">
          <div class="nav-icon">
            <a href="{{ routes.cart_url }}" class="js-drawer-open-cart">
            <span class="svg-wrapper" style="height: 16px; width: 16px;">{{ 'icon-cart.svg' | inline_asset_content }}</span>
            </a>
          </div>
          <div class="nav-icon">
            <a href="{{ routes.account_url }}" class="">
            <span class="svg-wrapper" style="height: 16px; width: 16px;">{{ 'icon-account.svg' | inline_asset_content }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
<div class="hamburger">
   <div id="menuIcon" class="menu-icon"></div>
</div>
           
    </div>
    
  </div>

 </div {% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>


  {% comment %} 
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  THIS IS TEST COMMENT TO RESET THE HEADER SECTION
  {% endcomment %}

    <script>
document.addEventListener('DOMContentLoaded', function() {
    const container = document.getElementById('menuIcon');
    fetch('{{ "menuicon.json" | asset_url }}')
        .then(response => {
            return response.json();
        })
        .then(data => {
            const anim = lottie.loadAnimation({
                container: container,
                renderer: 'svg',
                loop: false,
                autoplay: false,
                animationData: data
            });

            let isOpen = false;
            container.addEventListener('click', () => {
                if(isOpen) {
                    anim.setDirection(-1);
                    anim.play();
                } else {
                    anim.setDirection(1);
                    anim.play();
                }
                isOpen = !isOpen;
            });
        })
        .catch(error => console.error('Error loading menu animation:', error));
});
    </script>




{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Header Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        {
          "value": "10px",
          "label": "Small"
        },
        {
          "value": "12px",
          "label": "Regular"
        },
        {
          "value": "14px",
          "label": "Medium"
        },
        {
          "value": "16px",
          "label": "Large"
        }
      ],
      "default": "12px"
    },
    {
      "type": "select",
      "id": "nav_items_justify_content",
      "label": "Navigation Items Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "space-between",
          "label": "Space Between"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },

    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 8,
      "step": 1,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 8,
      "step": 1,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "margin_left",
      "label": "Margin Left",
      "default": 71,
      "step": 1,
      "max": 100,
      "min": 0
    },
    {
      "type": "range",
      "id": "margin_right",
      "label": "Margin Right",
      "default": 71,
      "step": 1,
      "max": 100,
      "min": 0
    },
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
