<script src="{{ 'image-with-text.js' | asset_url }}" async></script>
{{ 'image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image__with__text__section color-{{ section.settings.sectionColor }}">
  <div class="image__with__text__outer__container">
    <ul class="image__with__text__inner__container">
      {% for item in section.blocks %}
        <li
          class="image__with__text__card min__card__height card__set card card-rounded"
          aria-labelledby="gallery-item-{{ forloop.index0}}-trigger"
          tabindex="-1"
          id="gallery-item-{{ forloop.index0 }}"
          style="--current-item: {{ forloop.index0 }}"
        >
          <div class="media__container">
            {% if item.settings.image  %}
              <img width="1800" height="1600" class="media" src="{{ item.settings.image |  image_url  }}" alt="">
              {% else %}
                <div style="display: block !important; position: absolute; height: 100%; width: 1px; background-color: black; rotate: 45deg; left: 50%;"></div>
                <div style="display: block !important; position: absolute; height: 100%; width: 1px; background-color: black; rotate: -45deg; left: 50%;"></div>
            {% endif %}
          </div>
          <div class="cpation__container">
            <p class="caption__card caption__typography" style="--caption-font-color: {{ item.settings.captionColor }}">
              {{ item.settings.text }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div
    style="
      margin: 2rem auto;
      background-color: lightgray;
      width: fit-content;
      padding: 1rem 2rem;
      border-radius: 100px;
    "
  >
    <ul class="dot-items">
      {% for item in section.blocks %}
        <li class="dot-item">
          <a id="gallery-item-{{ forloop.index0 }}-trigger" href="#gallery-item-{{ forloop.index0 }}"> </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "limit": 1,
  "settings": [
    {
      "type": "color_scheme",
      "id": "sectionColor",
      "label": "Section Color"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Enter Text",
          "default":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat accusantium tenetur qui. Minus nullablanditiis quisquam voluptatem facere."
        },
        {
          "type": "color",
          "id": "captionColor",
          "label": "Text Color",
          "default":"#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
