{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}



{%- style -%}
  .page-width{
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}





{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}




<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<cart-items class="gradient color-{{ section.settings.color_scheme }} isolate{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="page-width color-{{ section.settings.color_scheme }}">
    <div class="title-wrapper-with-link">
      <div class="cart-heading">
      <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
          <div class="cart_total_count">
            <svg  class="background-svg"  width="183" height="65" viewBox="0 0 183 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M0.0294189 2.02929C0.0294189 0.924725 0.924849 0.0292969 2.02942 0.0292969H180.676C181.781 0.0292969 182.676 0.924727 182.676 2.0293L182.676 8.68284L170.5 12.1469L182.676 15.611V29.6828L170.5 33.1469L182.676 36.611V50.6828L170.5 54.1469L182.676 57.611L182.676 62.9705C182.676 64.075 181.781 64.9705 180.676 64.9705H2.02942C0.924851 64.9705 0.0294189 64.075 0.0294189 62.9705V51.4556L12 48L0.0294189 44.5444V33.4556L12 30L0.0294189 26.5444V15.4556L12 12L0.0294189 8.54439V2.02929Z" 
  />
</svg>
            <span data-cart-count>{{ cart.item_count }} items</span>
          </div>
       </div>
      <a href="{{ routes.all_products_collection_url }}" class="underlined-link">
        {{- 'general.continue_shopping' | t -}}
      </a>
    </div>

    <div class="cart__warnings">
      <div class="svgemptycard">
         <svg class="emptysvg"width="1587" height="2245" viewBox="0 0 1587 2245" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_948_60" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="268" y="644" width="1051" height="1052">
<path d="M268.172 644.812H1318.51V1695.15H268.172V644.812Z" fill="white"/>
</mask>
<g mask="url(#mask0_948_60)">
<path d="M793.344 703.161C784.417 703.151 775.495 703.401 766.583 703.901C757.672 704.401 748.781 705.156 739.912 706.167C731.042 707.177 722.208 708.443 713.412 709.958C704.615 711.474 695.87 713.245 687.172 715.26C678.479 717.276 669.849 719.542 661.281 722.057C652.714 724.568 644.229 727.323 635.818 730.323C627.412 733.323 619.099 736.557 610.875 740.031C602.651 743.51 594.536 747.214 586.526 751.156C578.516 755.094 570.625 759.26 562.854 763.656C555.083 768.047 547.443 772.656 539.932 777.49C532.427 782.318 525.063 787.359 517.849 792.609C510.63 797.859 503.568 803.318 496.661 808.974C489.755 814.63 483.016 820.479 476.443 826.521C469.875 832.563 463.479 838.786 457.266 845.198C451.052 851.604 445.026 858.188 439.193 864.943C433.354 871.693 427.714 878.609 422.276 885.688C416.833 892.766 411.599 899.99 406.573 907.37C401.547 914.745 396.734 922.26 392.141 929.911C387.542 937.568 383.172 945.344 379.021 953.245C374.87 961.151 370.948 969.167 367.255 977.292C363.568 985.422 360.109 993.646 356.891 1001.97C353.672 1010.3 350.693 1018.71 347.953 1027.21C345.214 1035.7 342.724 1044.27 340.474 1052.91C338.229 1061.55 336.229 1070.24 334.484 1079C332.734 1087.76 331.24 1096.55 329.995 1105.39C328.75 1114.23 327.755 1123.1 327.021 1131.99C326.281 1140.89 325.802 1149.8 325.578 1158.72C325.349 1167.65 325.38 1176.57 325.667 1185.49C325.948 1194.42 326.49 1203.32 327.286 1212.21C328.083 1221.1 329.13 1229.96 330.432 1238.8C331.734 1247.63 333.292 1256.41 335.099 1265.16C336.906 1273.9 338.958 1282.58 341.266 1291.2C343.568 1299.83 346.115 1308.38 348.911 1316.86C351.703 1325.34 354.74 1333.73 358.016 1342.03C361.292 1350.34 364.797 1358.54 368.542 1366.65C372.286 1374.74 376.26 1382.73 380.464 1390.61C384.667 1398.49 389.094 1406.23 393.74 1413.86C398.385 1421.48 403.245 1428.96 408.323 1436.31C413.396 1443.65 418.677 1450.84 424.167 1457.89C429.651 1464.92 435.339 1471.8 441.219 1478.52C447.099 1485.23 453.172 1491.78 459.427 1498.14C465.682 1504.51 472.115 1510.69 478.724 1516.69C485.339 1522.69 492.115 1528.49 499.057 1534.1C506 1539.71 513.099 1545.13 520.349 1550.33C527.604 1555.53 535 1560.52 542.536 1565.3C550.078 1570.08 557.75 1574.65 565.547 1578.98C573.349 1583.32 581.266 1587.44 589.302 1591.33C597.339 1595.21 605.479 1598.86 613.724 1602.29C621.969 1605.71 630.307 1608.89 638.734 1611.83C647.162 1614.78 655.667 1617.47 664.25 1619.93C672.833 1622.39 681.474 1624.59 690.188 1626.56C698.896 1628.52 707.651 1630.22 716.458 1631.68C725.266 1633.14 734.104 1634.35 742.984 1635.3C751.859 1636.25 760.755 1636.95 769.672 1637.39C778.583 1637.83 787.505 1638.02 796.432 1637.95C805.359 1637.88 814.276 1637.56 823.182 1636.98C832.094 1636.4 840.979 1635.56 849.839 1634.47C858.698 1633.39 867.521 1632.04 876.302 1630.45C885.083 1628.85 893.813 1627.01 902.495 1624.92C911.172 1622.82 919.781 1620.48 928.323 1617.89C936.87 1615.31 945.328 1612.47 953.708 1609.4C962.094 1606.33 970.38 1603.02 978.568 1599.47C986.761 1595.93 994.844 1592.15 1002.82 1588.14C1010.8 1584.13 1018.65 1579.89 1026.38 1575.43C1034.11 1570.97 1041.71 1566.29 1049.18 1561.4C1056.64 1556.5 1063.96 1551.39 1071.13 1546.08C1078.3 1540.76 1085.32 1535.24 1092.17 1529.53C1099.03 1523.81 1105.71 1517.9 1112.23 1511.8C1118.75 1505.7 1125.08 1499.42 1131.24 1492.96C1137.4 1486.49 1143.37 1479.86 1149.15 1473.05C1154.92 1466.25 1160.5 1459.29 1165.88 1452.16C1171.26 1445.04 1176.43 1437.76 1181.39 1430.34C1186.35 1422.92 1191.09 1415.36 1195.62 1407.67C1200.15 1399.98 1204.45 1392.16 1208.54 1384.22C1212.61 1376.28 1216.46 1368.23 1220.08 1360.07C1223.7 1351.91 1227.09 1343.66 1230.23 1335.3C1233.38 1326.95 1236.29 1318.51 1238.95 1309.99C1241.61 1301.47 1244.03 1292.88 1246.2 1284.22C1248.37 1275.56 1250.29 1266.85 1251.96 1258.08C1253.63 1249.31 1255.05 1240.5 1256.22 1231.65C1257.39 1222.8 1258.3 1213.93 1258.95 1205.02C1259.61 1196.12 1260.02 1187.21 1260.16 1178.28C1260.31 1169.35 1260.2 1160.43 1259.84 1151.52C1259.47 1142.59 1258.85 1133.69 1257.98 1124.81C1257.11 1115.93 1255.98 1107.07 1254.6 1098.26C1253.22 1089.44 1251.59 1080.66 1249.7 1071.94C1247.82 1063.21 1245.69 1054.55 1243.31 1045.94C1240.93 1037.34 1238.3 1028.81 1235.43 1020.36C1232.57 1011.91 1229.46 1003.54 1226.11 995.266C1222.76 986.99 1219.18 978.818 1215.36 970.75C1211.55 962.677 1207.51 954.724 1203.23 946.885C1198.96 939.047 1194.47 931.339 1189.75 923.76C1185.04 916.177 1180.11 908.74 1174.97 901.438C1169.83 894.141 1164.49 886.995 1158.94 880.005C1153.39 873.01 1147.65 866.182 1141.7 859.521C1135.77 852.859 1129.64 846.37 1123.32 840.057C1117.92 834.656 1112.4 829.391 1106.73 824.26C1101.07 819.13 1095.29 814.141 1089.39 809.292C1083.48 804.448 1077.47 799.75 1071.33 795.198C1065.2 790.646 1058.96 786.245 1052.6 782C1046.26 777.755 1039.81 773.667 1033.26 769.74C1026.7 765.807 1020.06 762.042 1013.33 758.438C1006.59 754.833 999.771 751.401 992.87 748.13C985.964 744.859 978.984 741.76 971.932 738.833C964.875 735.906 957.75 733.156 950.563 730.578C943.37 728 936.12 725.599 928.813 723.38C921.505 721.156 914.146 719.115 906.74 717.25C899.333 715.391 891.88 713.714 884.391 712.214C876.901 710.719 869.38 709.406 861.823 708.281C854.271 707.151 846.693 706.214 839.089 705.458C831.49 704.698 823.875 704.13 816.245 703.75C808.615 703.365 800.984 703.172 793.344 703.161ZM793.344 644.812C801.938 644.812 810.526 645.021 819.115 645.443C827.698 645.865 836.266 646.5 844.818 647.339C853.37 648.182 861.901 649.234 870.401 650.495C878.901 651.755 887.37 653.224 895.797 654.901C904.229 656.578 912.609 658.464 920.948 660.552C929.287 662.641 937.568 664.932 945.792 667.427C954.016 669.922 962.177 672.615 970.266 675.51C978.359 678.406 986.375 681.5 994.318 684.786C1002.26 688.078 1010.11 691.557 1017.88 695.234C1025.65 698.906 1033.33 702.771 1040.91 706.823C1048.48 710.875 1055.96 715.109 1063.33 719.526C1070.71 723.948 1077.96 728.542 1085.11 733.318C1092.26 738.094 1099.28 743.042 1106.19 748.161C1113.09 753.281 1119.86 758.568 1126.51 764.021C1133.15 769.474 1139.66 775.083 1146.03 780.854C1152.4 786.625 1158.61 792.552 1164.69 798.63C1170.77 804.708 1176.7 810.932 1182.47 817.297C1188.24 823.667 1193.85 830.172 1199.3 836.818C1204.76 843.458 1210.04 850.234 1215.16 857.135C1220.28 864.042 1225.23 871.068 1230.01 878.214C1234.78 885.359 1239.38 892.62 1243.8 899.99C1248.21 907.359 1252.45 914.839 1256.5 922.417C1260.55 929.995 1264.42 937.672 1268.09 945.443C1271.77 953.214 1275.24 961.068 1278.54 969.005C1281.82 976.948 1284.92 984.964 1287.81 993.057C1290.71 1001.15 1293.41 1009.31 1295.9 1017.53C1298.4 1025.76 1300.69 1034.04 1302.78 1042.38C1304.86 1050.71 1306.74 1059.09 1308.42 1067.53C1310.1 1075.95 1311.57 1084.42 1312.83 1092.92C1314.09 1101.42 1315.14 1109.95 1315.98 1118.51C1316.83 1127.06 1317.46 1135.63 1317.88 1144.21C1318.3 1152.8 1318.51 1161.39 1318.51 1169.98C1318.51 1178.57 1318.3 1187.17 1317.88 1195.75C1317.46 1204.33 1316.83 1212.9 1315.98 1221.46C1315.14 1230.01 1314.09 1238.54 1312.83 1247.04C1311.57 1255.54 1310.1 1264.01 1308.42 1272.44C1306.74 1280.86 1304.86 1289.25 1302.78 1297.58C1300.69 1305.92 1298.4 1314.2 1295.9 1322.43C1293.41 1330.65 1290.71 1338.81 1287.81 1346.91C1284.92 1354.99 1281.82 1363.02 1278.54 1370.95C1275.24 1378.9 1271.77 1386.75 1268.09 1394.52C1264.42 1402.29 1260.55 1409.96 1256.5 1417.54C1252.45 1425.13 1248.21 1432.6 1243.8 1439.97C1239.38 1447.34 1234.78 1454.6 1230.01 1461.75C1225.23 1468.9 1220.28 1475.92 1215.16 1482.82C1210.04 1489.72 1204.76 1496.5 1199.3 1503.15C1193.85 1509.79 1188.24 1516.29 1182.47 1522.66C1176.7 1529.03 1170.77 1535.26 1164.69 1541.33C1158.61 1547.41 1152.4 1553.33 1146.03 1559.1C1139.66 1564.88 1133.15 1570.49 1126.51 1575.94C1119.86 1581.4 1113.09 1586.68 1106.19 1591.8C1099.28 1596.92 1092.26 1601.87 1085.11 1606.64C1077.96 1611.42 1070.71 1616.02 1063.33 1620.43C1055.96 1624.85 1048.48 1629.09 1040.91 1633.14C1033.33 1637.19 1025.65 1641.05 1017.88 1644.73C1010.11 1648.4 1002.26 1651.89 994.318 1655.17C986.375 1658.46 978.359 1661.55 970.266 1664.45C962.177 1667.34 954.016 1670.04 945.792 1672.54C937.568 1675.03 929.287 1677.32 920.948 1679.41C912.609 1681.5 904.229 1683.38 895.797 1685.06C887.37 1686.73 878.901 1688.2 870.401 1689.46C861.901 1690.72 853.37 1691.78 844.818 1692.62C836.266 1693.46 827.698 1694.09 819.115 1694.52C810.526 1694.94 801.938 1695.15 793.344 1695.15C784.75 1695.15 776.162 1694.94 767.573 1694.52C758.99 1694.09 750.422 1693.46 741.87 1692.62C733.313 1691.78 724.787 1690.72 716.287 1689.46C707.781 1688.2 699.318 1686.73 690.885 1685.06C682.458 1683.38 674.073 1681.5 665.74 1679.41C657.401 1677.32 649.12 1675.03 640.896 1672.54C632.672 1670.04 624.51 1667.34 616.417 1664.45C608.328 1661.55 600.313 1658.46 592.37 1655.17C584.427 1651.89 576.573 1648.4 568.802 1644.73C561.036 1641.05 553.359 1637.19 545.781 1633.14C538.198 1629.09 530.724 1624.85 523.354 1620.43C515.979 1616.02 508.719 1611.42 501.573 1606.64C494.427 1601.87 487.406 1596.92 480.5 1591.8C473.599 1586.68 466.823 1581.4 460.177 1575.94C453.536 1570.49 447.031 1564.88 440.661 1559.1C434.292 1553.33 428.068 1547.41 421.995 1541.33C415.917 1535.26 409.99 1529.03 404.219 1522.66C398.448 1516.29 392.833 1509.79 387.38 1503.15C381.927 1496.5 376.646 1489.72 371.526 1482.82C366.401 1475.92 361.458 1468.9 356.682 1461.75C351.906 1454.6 347.307 1447.34 342.891 1439.97C338.474 1432.6 334.24 1425.13 330.188 1417.54C326.135 1409.96 322.271 1402.29 318.594 1394.52C314.922 1386.75 311.438 1378.9 308.151 1370.95C304.859 1363.02 301.771 1354.99 298.875 1346.91C295.979 1338.81 293.281 1330.65 290.786 1322.43C288.292 1314.2 286 1305.92 283.911 1297.58C281.823 1289.25 279.943 1280.86 278.266 1272.44C276.589 1264.01 275.12 1255.54 273.859 1247.04C272.599 1238.54 271.547 1230.01 270.703 1221.46C269.859 1212.9 269.229 1204.33 268.807 1195.75C268.385 1187.17 268.172 1178.57 268.172 1169.98C268.182 1161.39 268.406 1152.8 268.833 1144.22C269.266 1135.64 269.906 1127.07 270.755 1118.52C271.604 1109.97 272.667 1101.45 273.932 1092.95C275.203 1084.45 276.677 1075.99 278.359 1067.57C280.047 1059.14 281.932 1050.76 284.026 1042.43C286.12 1034.09 288.417 1025.82 290.917 1017.6C293.417 1009.38 296.12 1001.22 299.016 993.135C301.917 985.047 305.016 977.031 308.307 969.099C311.599 961.161 315.083 953.313 318.76 945.547C322.438 937.781 326.302 930.109 330.359 922.531C334.411 914.958 338.646 907.484 343.068 900.115C347.484 892.75 352.083 885.495 356.859 878.349C361.635 871.208 366.583 864.188 371.703 857.286C376.823 850.385 382.109 843.615 387.563 836.974C393.01 830.333 398.625 823.828 404.396 817.464C410.167 811.099 416.089 804.875 422.161 798.802C428.24 792.724 434.458 786.802 440.828 781.031C447.193 775.26 453.693 769.651 460.339 764.198C466.979 758.745 473.75 753.458 480.646 748.339C487.547 743.219 494.568 738.271 501.714 733.495C508.854 728.724 516.109 724.125 523.479 719.703C530.849 715.286 538.318 711.047 545.896 706.995C553.474 702.943 561.141 699.073 568.906 695.396C576.672 691.719 584.526 688.234 592.458 684.943C600.396 681.651 608.406 678.552 616.495 675.656C624.583 672.755 632.74 670.057 640.958 667.557C649.182 665.057 657.458 662.76 665.792 660.667C674.125 658.573 682.505 656.682 690.927 655C699.354 653.318 707.818 651.839 716.313 650.573C724.813 649.302 733.333 648.245 741.885 647.391C750.438 646.542 759 645.901 767.583 645.469C776.167 645.042 784.75 644.823 793.344 644.812Z" fill="black"/>
</g>
<path d="M676.641 1053.28C676.641 1055.19 676.547 1057.09 676.359 1058.99C676.172 1060.9 675.891 1062.79 675.516 1064.66C675.146 1066.54 674.682 1068.39 674.125 1070.21C673.573 1072.04 672.927 1073.84 672.198 1075.6C671.464 1077.37 670.651 1079.1 669.75 1080.78C668.849 1082.47 667.865 1084.1 666.807 1085.69C665.745 1087.28 664.604 1088.82 663.396 1090.29C662.182 1091.77 660.901 1093.19 659.547 1094.54C658.198 1095.89 656.781 1097.17 655.307 1098.38C653.828 1099.59 652.297 1100.73 650.703 1101.79C649.115 1102.85 647.479 1103.84 645.792 1104.74C644.109 1105.64 642.385 1106.45 640.62 1107.19C638.854 1107.92 637.052 1108.56 635.224 1109.11C633.396 1109.67 631.547 1110.14 629.672 1110.51C627.797 1110.88 625.906 1111.16 624.005 1111.35C622.104 1111.54 620.198 1111.63 618.287 1111.63C616.375 1111.63 614.469 1111.54 612.568 1111.35C610.667 1111.16 608.776 1110.88 606.901 1110.51C605.026 1110.14 603.177 1109.67 601.349 1109.11C599.521 1108.56 597.724 1107.92 595.958 1107.19C594.193 1106.45 592.464 1105.64 590.781 1104.74C589.094 1103.84 587.458 1102.85 585.87 1101.79C584.281 1100.73 582.745 1099.59 581.271 1098.38C579.792 1097.17 578.375 1095.89 577.026 1094.54C575.672 1093.19 574.391 1091.77 573.182 1090.29C571.969 1088.82 570.828 1087.28 569.771 1085.69C568.708 1084.1 567.724 1082.47 566.823 1080.78C565.922 1079.1 565.109 1077.37 564.375 1075.6C563.646 1073.84 563 1072.04 562.448 1070.21C561.891 1068.39 561.427 1066.54 561.057 1064.66C560.682 1062.79 560.401 1060.9 560.214 1058.99C560.026 1057.09 559.932 1055.19 559.932 1053.28C559.932 1051.36 560.026 1049.46 560.214 1047.56C560.401 1045.66 560.682 1043.77 561.057 1041.89C561.427 1040.02 561.891 1038.17 562.448 1036.34C563 1034.51 563.646 1032.71 564.375 1030.95C565.109 1029.18 565.922 1027.45 566.823 1025.77C567.724 1024.08 568.708 1022.45 569.771 1020.86C570.828 1019.27 571.969 1017.73 573.182 1016.26C574.391 1014.78 575.672 1013.36 577.026 1012.02C578.375 1010.66 579.792 1009.38 581.271 1008.17C582.745 1006.96 584.281 1005.82 585.87 1004.76C587.458 1003.7 589.094 1002.71 590.781 1001.81C592.464 1000.91 594.193 1000.1 595.958 999.365C597.724 998.635 599.521 997.99 601.349 997.438C603.177 996.88 605.026 996.417 606.901 996.047C608.776 995.672 610.667 995.391 612.568 995.203C614.469 995.016 616.375 994.922 618.287 994.922C620.198 994.922 622.104 995.016 624.005 995.203C625.906 995.391 627.797 995.672 629.672 996.047C631.547 996.417 633.396 996.88 635.224 997.438C637.052 997.99 638.854 998.635 640.62 999.365C642.385 1000.1 644.109 1000.91 645.792 1001.81C647.479 1002.71 649.115 1003.7 650.703 1004.76C652.297 1005.82 653.828 1006.96 655.307 1008.17C656.781 1009.38 658.198 1010.66 659.547 1012.02C660.901 1013.36 662.182 1014.78 663.396 1016.26C664.604 1017.73 665.745 1019.27 666.807 1020.86C667.865 1022.45 668.849 1024.08 669.75 1025.77C670.651 1027.45 671.464 1029.18 672.198 1030.95C672.927 1032.71 673.573 1034.51 674.125 1036.34C674.682 1038.17 675.146 1040.02 675.516 1041.89C675.891 1043.77 676.172 1045.66 676.359 1047.56C676.547 1049.46 676.641 1051.36 676.641 1053.28Z" fill="black"/>
<path d="M1026.75 1053.28C1026.75 1055.19 1026.66 1057.09 1026.47 1058.99C1026.28 1060.9 1026.01 1062.79 1025.63 1064.66C1025.26 1066.54 1024.79 1068.39 1024.24 1070.21C1023.68 1072.04 1023.04 1073.84 1022.31 1075.6C1021.58 1077.37 1020.76 1079.1 1019.86 1080.78C1018.96 1082.47 1017.98 1084.1 1016.92 1085.69C1015.85 1087.28 1014.72 1088.82 1013.51 1090.29C1012.29 1091.77 1011.01 1093.19 1009.66 1094.54C1008.31 1095.89 1006.9 1097.17 1005.42 1098.38C1003.94 1099.59 1002.41 1100.73 1000.82 1101.79C999.229 1102.85 997.594 1103.84 995.906 1104.74C994.219 1105.64 992.495 1106.45 990.729 1107.19C988.964 1107.92 987.167 1108.56 985.339 1109.11C983.51 1109.67 981.656 1110.14 979.781 1110.51C977.911 1110.88 976.021 1111.16 974.12 1111.35C972.219 1111.54 970.313 1111.63 968.401 1111.63C966.49 1111.63 964.583 1111.54 962.682 1111.35C960.776 1111.16 958.891 1110.88 957.016 1110.51C955.141 1110.14 953.292 1109.67 951.464 1109.11C949.63 1108.56 947.833 1107.92 946.068 1107.19C944.302 1106.45 942.578 1105.64 940.891 1104.74C939.208 1103.84 937.568 1102.85 935.979 1101.79C934.391 1100.73 932.859 1099.59 931.38 1098.38C929.906 1097.17 928.49 1095.89 927.141 1094.54C925.786 1093.19 924.505 1091.77 923.292 1090.29C922.078 1088.82 920.943 1087.28 919.88 1085.69C918.818 1084.1 917.839 1082.47 916.938 1080.78C916.036 1079.1 915.219 1077.37 914.49 1075.6C913.76 1073.84 913.115 1072.04 912.563 1070.21C912.005 1068.39 911.542 1066.54 911.167 1064.66C910.797 1062.79 910.516 1060.9 910.328 1058.99C910.141 1057.09 910.047 1055.19 910.047 1053.28C910.047 1051.36 910.141 1049.46 910.328 1047.56C910.516 1045.66 910.797 1043.77 911.167 1041.89C911.542 1040.02 912.005 1038.17 912.563 1036.34C913.115 1034.51 913.76 1032.71 914.49 1030.95C915.219 1029.18 916.036 1027.45 916.938 1025.77C917.839 1024.08 918.818 1022.45 919.88 1020.86C920.943 1019.27 922.078 1017.73 923.292 1016.26C924.505 1014.78 925.786 1013.36 927.141 1012.02C928.49 1010.66 929.906 1009.38 931.38 1008.17C932.859 1006.96 934.391 1005.82 935.979 1004.76C937.568 1003.7 939.208 1002.71 940.891 1001.81C942.578 1000.91 944.302 1000.1 946.068 999.365C947.833 998.635 949.63 997.99 951.464 997.438C953.292 996.88 955.141 996.417 957.016 996.047C958.891 995.672 960.776 995.391 962.682 995.203C964.583 995.016 966.49 994.922 968.401 994.922C970.313 994.922 972.219 995.016 974.12 995.203C976.021 995.391 977.911 995.672 979.781 996.047C981.656 996.417 983.51 996.88 985.339 997.438C987.167 997.99 988.964 998.635 990.729 999.365C992.495 1000.1 994.219 1000.91 995.906 1001.81C997.594 1002.71 999.229 1003.7 1000.82 1004.76C1002.41 1005.82 1003.94 1006.96 1005.42 1008.17C1006.9 1009.38 1008.31 1010.66 1009.66 1012.02C1011.01 1013.36 1012.29 1014.78 1013.51 1016.26C1014.72 1017.73 1015.85 1019.27 1016.92 1020.86C1017.98 1022.45 1018.96 1024.08 1019.86 1025.77C1020.76 1027.45 1021.58 1029.18 1022.31 1030.95C1023.04 1032.71 1023.68 1034.51 1024.24 1036.34C1024.79 1038.17 1025.26 1040.02 1025.63 1041.89C1026.01 1043.77 1026.28 1045.66 1026.47 1047.56C1026.66 1049.46 1026.75 1051.36 1026.75 1053.28Z" fill="black"/>
<path d="M1061.54 1368.53C1062.21 1369.21 1062.85 1369.91 1063.46 1370.65C1064.07 1371.39 1064.64 1372.16 1065.17 1372.95C1065.7 1373.74 1066.19 1374.57 1066.64 1375.41C1067.09 1376.25 1067.49 1377.11 1067.86 1377.99C1068.23 1378.88 1068.55 1379.78 1068.83 1380.69C1069.1 1381.6 1069.33 1382.53 1069.52 1383.47C1069.71 1384.41 1069.85 1385.35 1069.94 1386.3C1070.04 1387.25 1070.08 1388.21 1070.08 1389.16C1070.08 1390.11 1070.04 1391.07 1069.94 1392.02C1069.85 1392.97 1069.71 1393.92 1069.52 1394.85C1069.33 1395.79 1069.1 1396.72 1068.83 1397.63C1068.55 1398.55 1068.23 1399.44 1067.86 1400.33C1067.49 1401.21 1067.09 1402.07 1066.64 1402.92C1066.19 1403.76 1065.7 1404.58 1065.17 1405.37C1064.64 1406.17 1064.07 1406.93 1063.46 1407.67C1062.85 1408.41 1062.21 1409.11 1061.54 1409.79C1060.86 1410.47 1060.16 1411.11 1059.42 1411.71C1058.68 1412.32 1057.91 1412.89 1057.11 1413.42C1056.32 1413.95 1055.5 1414.44 1054.66 1414.89C1053.82 1415.34 1052.95 1415.75 1052.07 1416.11C1051.19 1416.48 1050.29 1416.8 1049.38 1417.08C1048.46 1417.36 1047.54 1417.59 1046.6 1417.78C1045.66 1417.96 1044.72 1418.1 1043.77 1418.2C1042.81 1418.29 1041.86 1418.34 1040.91 1418.34C1039.95 1418.34 1038.99 1418.29 1038.05 1418.2C1037.09 1418.1 1036.15 1417.96 1035.21 1417.78C1034.28 1417.59 1033.35 1417.36 1032.44 1417.08C1031.52 1416.8 1030.63 1416.48 1029.74 1416.11C1028.86 1415.75 1027.99 1415.34 1027.15 1414.89C1026.31 1414.44 1025.49 1413.95 1024.7 1413.42C1023.9 1412.89 1023.14 1412.32 1022.4 1411.71C1021.66 1411.11 1020.95 1410.47 1020.28 1409.79C1016.56 1406.08 1012.76 1402.47 1008.86 1398.95C1004.96 1395.42 1000.98 1392 996.922 1388.67C992.865 1385.34 988.719 1382.12 984.5 1378.99C980.281 1375.87 975.984 1372.85 971.62 1369.94C967.25 1367.03 962.813 1364.22 958.307 1361.52C953.802 1358.83 949.234 1356.24 944.599 1353.77C939.969 1351.3 935.276 1348.94 930.531 1346.7C925.781 1344.46 920.979 1342.33 916.13 1340.33C911.276 1338.32 906.38 1336.43 901.432 1334.67C896.49 1332.9 891.505 1331.26 886.479 1329.73C881.453 1328.21 876.391 1326.81 871.297 1325.54C866.203 1324.27 861.083 1323.11 855.932 1322.09C850.781 1321.07 845.609 1320.17 840.417 1319.41C835.224 1318.64 830.01 1317.99 824.786 1317.48C819.563 1316.96 814.328 1316.58 809.083 1316.32C803.839 1316.07 798.589 1315.94 793.339 1315.94C788.089 1315.94 782.839 1316.07 777.594 1316.32C772.349 1316.58 767.115 1316.96 761.891 1317.48C756.667 1317.99 751.453 1318.64 746.26 1319.41C741.068 1320.17 735.896 1321.07 730.745 1322.09C725.594 1323.11 720.474 1324.27 715.38 1325.54C710.286 1326.81 705.224 1328.21 700.198 1329.73C695.172 1331.26 690.188 1332.9 685.245 1334.67C680.302 1336.43 675.401 1338.32 670.547 1340.33C665.698 1342.33 660.896 1344.46 656.151 1346.7C651.401 1348.94 646.708 1351.3 642.078 1353.77C637.448 1356.24 632.875 1358.83 628.37 1361.52C623.865 1364.22 619.427 1367.03 615.057 1369.94C610.693 1372.85 606.396 1375.87 602.177 1378.99C597.958 1382.12 593.818 1385.34 589.755 1388.67C585.693 1392 581.714 1395.42 577.818 1398.95C573.927 1402.47 570.12 1406.08 566.401 1409.79C565.729 1410.47 565.021 1411.11 564.281 1411.71C563.542 1412.32 562.776 1412.89 561.979 1413.42C561.188 1413.95 560.37 1414.44 559.526 1414.89C558.682 1415.34 557.818 1415.75 556.938 1416.11C556.052 1416.48 555.156 1416.8 554.24 1417.08C553.328 1417.36 552.401 1417.59 551.464 1417.78C550.526 1417.96 549.583 1418.1 548.63 1418.2C547.682 1418.29 546.729 1418.34 545.771 1418.34C544.818 1418.34 543.865 1418.29 542.911 1418.2C541.964 1418.1 541.016 1417.96 540.078 1417.78C539.141 1417.59 538.219 1417.36 537.302 1417.08C536.385 1416.8 535.49 1416.48 534.604 1416.11C533.724 1415.75 532.859 1415.34 532.021 1414.89C531.177 1414.44 530.359 1413.95 529.563 1413.42C528.766 1412.89 528 1412.32 527.26 1411.71C526.526 1411.11 525.818 1410.47 525.141 1409.79C524.464 1409.11 523.823 1408.41 523.219 1407.67C522.615 1406.93 522.042 1406.17 521.51 1405.37C520.984 1404.58 520.49 1403.76 520.042 1402.92C519.589 1402.07 519.182 1401.21 518.818 1400.33C518.453 1399.44 518.13 1398.55 517.854 1397.63C517.573 1396.72 517.344 1395.79 517.156 1394.85C516.969 1393.92 516.828 1392.97 516.734 1392.02C516.641 1391.07 516.594 1390.11 516.594 1389.16C516.594 1388.21 516.641 1387.25 516.734 1386.3C516.828 1385.35 516.969 1384.41 517.156 1383.47C517.344 1382.53 517.573 1381.6 517.854 1380.69C518.13 1379.78 518.453 1378.88 518.818 1377.99C519.182 1377.11 519.589 1376.25 520.042 1375.41C520.49 1374.57 520.984 1373.74 521.51 1372.95C522.042 1372.16 522.615 1371.39 523.219 1370.65C523.823 1369.91 524.464 1369.21 525.141 1368.53C529.531 1364.15 534.031 1359.88 538.635 1355.71C543.234 1351.55 547.938 1347.5 552.74 1343.57C557.536 1339.64 562.432 1335.82 567.422 1332.13C572.406 1328.44 577.484 1324.88 582.646 1321.43C587.807 1317.98 593.052 1314.67 598.375 1311.48C603.703 1308.3 609.099 1305.24 614.578 1302.32C620.052 1299.4 625.594 1296.61 631.203 1293.96C636.818 1291.32 642.49 1288.81 648.224 1286.43C653.958 1284.06 659.745 1281.83 665.589 1279.74C671.432 1277.66 677.328 1275.71 683.266 1273.91C689.203 1272.11 695.182 1270.46 701.203 1268.96C707.224 1267.45 713.276 1266.09 719.365 1264.89C725.448 1263.68 731.563 1262.61 737.703 1261.71C743.839 1260.8 749.995 1260.04 756.172 1259.43C762.349 1258.82 768.536 1258.37 774.734 1258.06C780.932 1257.76 787.135 1257.61 793.339 1257.61C799.547 1257.61 805.745 1257.76 811.943 1258.06C818.141 1258.37 824.328 1258.82 830.505 1259.43C836.682 1260.04 842.839 1260.8 848.974 1261.71C855.115 1262.61 861.229 1263.68 867.313 1264.89C873.401 1266.09 879.453 1267.45 885.474 1268.96C891.495 1270.46 897.474 1272.11 903.411 1273.91C909.354 1275.71 915.245 1277.66 921.089 1279.74C926.932 1281.83 932.719 1284.06 938.453 1286.43C944.188 1288.81 949.859 1291.32 955.474 1293.96C961.083 1296.61 966.625 1299.4 972.104 1302.32C977.578 1305.24 982.974 1308.3 988.302 1311.48C993.625 1314.67 998.87 1317.98 1004.03 1321.43C1009.19 1324.88 1014.27 1328.44 1019.26 1332.13C1024.24 1335.82 1029.14 1339.64 1033.94 1343.57C1038.74 1347.5 1043.44 1351.55 1048.04 1355.71C1052.65 1359.88 1057.15 1364.15 1061.54 1368.53Z" fill="black"/>
</svg>

      </div>
  

      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <p class="favouritestart"> Start Adding Your Favorites Now! </p>
      <a href="{{ routes.all_products_collection_url }}" class="button">
       Shop Now
      </a>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items">
              <caption class="visually-hidden">
                {{ 'sections.cart.title' | t }}
              </caption>
              <thead>
                <tr>
                  <th class="caption-with-letter-spacing" colspan="2" scope="col">
                    {{ 'sections.cart.headings.product' | t }}
                  </th>
                  <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                    {{ 'sections.cart.headings.total' | t }}
                  </th>
                  <th
                    class="cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
                    colspan="1"
                    scope="col"
                  >
                    {{ 'sections.cart.headings.quantity' | t }}
                  </th>
                  <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                    {{ 'sections.cart.headings.total' | t }}
                  </th>
                </tr>
              </thead>

              <tbody>
                {%- for item in cart.items -%}
                  <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                    <td class="cart-item__media">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <div class="cart-item__image-container gradient global-media-settings">
                          <img
                            src="{{ item.image | image_url: width: 300 }}"
                            class="cart-item__image"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                          >
                        </div>
                      {% endif %}
                    </td>

                    <td class="cart-item__details">
                      {%- if settings.show_vendor -%}
                        <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                      {%- if item.original_price != item.final_price -%}
                        <div class="cart-item__discounted-prices">
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="cart-item__old-price product-option">
                            {{- item.original_price | money -}}
                          </s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong class="cart-item__final-price product-option">
                            {{ item.final_price | money }}
                          </strong>
                        </div>
                      {%- else -%}
                        <div class="product-option">
                          {{ item.original_price | money }}
                        </div>
                      {%- endif -%}

                      {%- if item.product.has_only_default_variant == false
                        or item.properties.size != 0
                        or item.selling_plan_allocation != null
                      -%}
                        <dl>
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <div class="product-option">
                                <dt>{{ option.name }}:</dt>
                                <dd>{{ option.value }}</dd>
                              </div>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div class="product-option">
                                <dt>{{ property.first }}:</dt>
                                <dd>
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </dd>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </dl>

                        <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="discounts__discount">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                            {{ discount.discount_application.title | escape }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </td>

                    <td class="cart-item__totals right medium-hide large-up-hide">
                      {%- render 'loading-spinner' -%}
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                    {%- liquid
                      assign has_qty_rules = false
                      if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                        assign has_qty_rules = true
                      endif

                      assign has_vol_pricing = false
                      if item.variant.quantity_price_breaks.size > 0
                        assign has_vol_pricing = true
                      endif
                    -%}
                    <td class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                      <quantity-popover>
                        <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                aria-expanded="false"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide"
                              >
                                {{- 'icon-info.svg' | inline_asset_content -}}
                              </button>
                            {%- endif -%}
                            <quantity-input class="quantity cart-quantity">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <input
                                class="quantity__input"
                                data-quantity-variant-id="{{ item.variant.id }}"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                {% # theme-check-disable %}
                                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                min="0"
                                data-min="{{ item.variant.quantity_rule.min }}"
                                {% if item.variant.quantity_rule.max != null %}
                                  max="{{ item.variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ item.variant.quantity_rule.increment }}"
                                {% # theme-check-enable %}
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>
                          </div>
                          <cart-remove-button
                            id="Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <a
                              href="{{ item.url_to_remove }}"
                              class="button button--tertiary"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-remove.svg' | inline_asset_content -}}
                              </span>
                            </a>
                          </cart-remove-button>
                        </div>
                        {%- if has_qty_rules or has_vol_pricing -%}
                          <button
                            type="button"
                            class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide"
                            aria-expanded="false"
                          >
                            {{- 'icon-info.svg' | inline_asset_content -}}
                            <span>
                              {%- if has_vol_pricing -%}
                                {{ 'products.product.volume_pricing.note' | t }}
                              {%- elsif has_qty_rules -%}
                                {{ 'products.product.quantity.note' | t }}
                              {%- endif -%}
                            </span>
                          </button>
                        {%- endif -%}
                        {%- if has_vol_pricing or has_qty_rules -%}
                          <div
                            class="cart-items__info global-settings-popup quantity-popover__info"
                            tabindex="-1"
                            hidden
                          >
                            {%- if has_qty_rules == false -%}
                              <span class="volume-pricing-label caption">
                                {{- 'products.product.volume_pricing.title' | t -}}
                              </span>
                            {%- endif -%}
                            <div class="quantity__rules caption">
                              {%- if item.variant.quantity_rule.increment > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.multiples_of'
                                    | t: quantity: item.variant.quantity_rule.increment
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.min > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.min_of'
                                    | t: quantity: item.variant.quantity_rule.min
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.max != null -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.max_of'
                                    | t: quantity: item.variant.quantity_rule.max
                                  -}}
                                </span>
                              {%- endif -%}
                            </div>
                            <button
                              class="button-close button button--tertiary large-up-hide"
                              type="button"
                              aria-label="{{ 'accessibility.close' | t }}"
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-close.svg' | inline_asset_content -}}
                              </span>
                            </button>
                            {%- if item.variant.quantity_price_breaks.size > 0 -%}
                              <volume-pricing class="parent-display">
                                <ul class="list-unstyled">
                                  <li>
                                    <span>{{ item.variant.quantity_rule.min }}+</span>
                                    {%- assign price = item.variant.price | money_with_currency -%}
                                    <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                  </li>
                                  {%- for price_break in item.variant.quantity_price_breaks -%}
                                    <li>
                                      <span>
                                        {{- price_break.minimum_quantity -}}
                                        <span aria-hidden="true">+</span></span
                                      >
                                      {%- assign price = price_break.price | money_with_currency -%}
                                      <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </volume-pricing>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                        <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                          <small class="cart-item__error-text"></small>
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                        </div>
                      </quantity-popover>
                    </td>

                    <td class="cart-item__totals right small-hide">
                      {%- render 'loading-spinner' -%}
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </div>

 
</cart-items>


{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
  
       {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
        },
  ],
   
  
}

{% endschema %}
