{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .card__inner{
    height: 50%;
  }
   .card__heading{
     font-weight: 500!important;
     font-size: 20px !important;
   }
  .article-card__excerpt{
    margin: 5px 0 !important;
  }
  .card__content{
    height: 50%;
    font-size: 13px !important;
    display: flex;
    flex-direction: column;
  }
  {% if section.settings.show_excerpt == false %}
  .card__information{
    height: auto !important;
    min-height: 80px !important;
  }
  .card__content{
    height: auto !important;
  }
  {% else %}
  .card__information{
    height: 350px !important;
    display: flex;
    flex-direction: column;
  }
  {% endif %}
  
   @media screen and (max-width: 1250px){
      .article-card, .card__heading, .h2{
      font-size: 16px !important;
    }
     .h2, .card__heading{
       font-weight: bold !important;
     }
   }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .card{
     background: rgb(var(--color-button)) !important;
    border-radius:4px !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .main-blog-test{
     background: rgb(var(--color-button)) !important;
    display: flex;
    flex-direction: column;
  }
  .page-width {
    max-width: none;
  }
  .test2{
    height: 345px;
  }
  .card__content{
    font-size: 12px;
    padding: 10px !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .blog-articles__article{
    overflow: hidden;
    position: relative;
  }

  .article-tags {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    z-index: 10; 
  }
  .article-tags .tag {
    background-color: rgb(var(--color-background));
    color: var(--color-foreground);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
  }
  .article-tags .tag:hover {
    text-decoration: underline;
  }
  .main-blog-title{
    font-weight: 500 !important;
  }

  .blog-articles {
    display: grid;
    grid-template-columns: repeat({{ section.settings.articles_per_row }}, 1fr);
    gap: 20px;
  }
  .main-blog-read-more-button{
    font-weight: 500;
    background: linear-gradient(to right, gray 50%, rgb(var(--color-button-text)) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none !important;
    position: relative;
    bottom: 10px;
    margin-top: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 170px;
    color: rgb(var(--color-secondary-button-text)) !important;
    transition: background-position 1.5s ease-in-out, transform .3s ease;
  }
  .main-blog-read-more-button:hover {
    background-position: 0 0 !important;
    color:rgb(var(--color-secondary-button-text)) !important;
  }
  .main-blog-read-more-button svg {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
}

.main-blog-read-more-button:hover svg {
    transform: translateX(4px);
}

  @media screen and (max-width: 750px) {
    .blog-articles {
      grid-template-columns: 1fr;
    }
  }

{%- endstyle -%}

{%- paginate blog.articles by 12 -%}
  <div class="main-blog color-{{ section.settings.color_scheme }} page-width section-{{ section.id }}-padding">
    <h1 class=" main-blog-title title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ blog.title | escape }}
    </h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article main-blog-test article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} "
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
           {%- if section.settings.show_tags and article.tags.size > 0 -%}
            <div class="article-tags">
              {%- for tag in article.tags -%}
                <a href="{{ routes.blog_tag_url | append: tag }}" class="tag">{{ tag }}</a>
              {%- endfor -%}
            </div>
          {%- endif -%}
          <div class="semi semi-left"><h6></h6></div>
          <div class="semi semi-right"><h6></h6></div>
        
          {%- render 'article-card',
            article: article,
            show_image: true, 
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: section.settings.show_excerpt,
            read_more_text: section.settings.enable_read_more_button ? section.settings.read_more_text : ''
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "Show excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": false,
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show Comments",
      "default": true
    },
     {
      "type": "checkbox",
      "id": "enable_read_more_button",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Button text",
      "default": "Read More"
    },
    {
      "type": "select",
      "id": "articles_per_row",
      "label": "Articles per row",
      "info": "Number of articles to be displayed in desktop view",
      "options": [
        { "value": "3", "label": "3 Articles" },
        { "value": "4", "label": "4 Articles" }
      ],
      "default": "3"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
