

<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
  }
</style>
{%- style -%}
/*
  @media screen and (min-width: 749px) {
    .bb-password-modal__content {
      width: {{ section.settings.card_width }}rem;
      height: {{ section.settings.card_height }}rem;
    }
}
*/
@media screen and (min-width: 749px) {
    .bb-pwd-signup {
      width: {{ section.settings.card_width }}rem;
      height: 50rem;
    }
  }
  @media screen and (max-width: 749px) {
    .bb-pwd-signup {
      width: {{ section.settings.card_width_mobile }}rem;
      height: 50rem;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="password-header">
    {%- if settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {{
        settings.logo
        | image_url: width: 500
        | image_tag:
          class: 'password-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: settings.logo_width,
          height: logo_height,
          alt: logo_alt
      }}
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="bb-modal__toggle-open modal__toggle-open password-link link">
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            <span class="svg-wrapper">
              {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="desktop-view-flex bb-password-modal__content password-modal__content" tabindex="1">
            <div class="bb-pwd-signup">
              <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <div class="vertical-bar-top-e-404">
                {% for i in (0..16) %}
                  <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
                {% endfor %}
              </div>
              <div class="vertical-bar-left-e-404">
                {% for i in (0..7) %}
                  <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
                {% endfor %}
                </div> 
                <div class="bb-pwd-inner">
            <h2 class="password-modal__content-heading bb-mail-signup-banner__heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            <p class="pwd-para">This store requires a password</p>
            {%- form 'storefront_password', class: 'bb-password-form password-form' -%}
              <div class="password-field bb-newsletter-form__field-wrapper field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error' | inline_asset_content -}}
                      </span>
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="bb-password__footer-text password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
            </div>
            <div class="vertical-bar-right-e-404">
              {% for i in (0..7) %}
                <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
              {% endfor %}
            </div>
            <div class="vertical-bar-bottom-e-404">
              {% for i in (0..16) %}
                <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
              {% endfor %}
            </div>
            </div>
          </div>
          <div class="mobile-view-flex bb-password-modal__content password-modal__content" tabindex="-1">
            <div class="bb-pwd-signup">
              <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <div class="vertical-bar-top-404">
                {% for i in (0..9) %}
                  <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
                {% endfor %}
              </div>
              <div class="bb-pwd-inner-m">
            <h2 class="password-modal__content-heading bb-mail-signup-banner__heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            <p class="pwd-para">This store requires a password</p>
            {%- form 'storefront_password', class: 'bb-password-form password-form' -%}
              <div class="password-field bb-newsletter-form__field-wrapper field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error' | inline_asset_content -}}
                      </span>
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="bb-password__footer-text password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
            </div>
            <div class="vertical-bar-bottom-404">
              {% for i in (0..9) %}
                <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
              {% endfor %}
            </div>
            </div>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% assign scheme1 = settings.color_schemes | first %}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "range",
      "id": "card_width",
      "label": "Card Size (Desktop View)",
      "min": 90,
      "max": 120,
      "step": 1,
      "default": 120
    },
    {
      "type": "range",
      "id": "card_width_mobile",
      "label": "Card Size (Mobile View)",
      "min": 20,
      "max": 37,
      "step": 1,
      "default": 37
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
