<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

{{ 'main-404.css' | asset_url | stylesheet_tag }}

<div class="desktop-view bb-upper-template-404">
  <div class="vertical-bar-top-404">
    {% for i in (0..20) %}
      <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
    {% endfor %}
  </div>
  <div class="vertical-bar-left-404">
  {% for i in (0..9) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
  </div>
<div class="bb-template-404 template-404 page-width page-margin center">
  <p class="bb-404-subtext">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="bb-404-title title">
    {{ section.settings.heading }}
  </h1>
  <p class="bb-404-para">
    {{ section.settings.description }}
  </p>
  <a href="{{ section.settings.link1 }}" class="bb-404-h-button button">
    {{ section.settings.button1 }}
  </a>
  <a href="{{ section.settings.link2 }}" class="bb-404-c-button button">
    {{ section.settings.button2 }}
  </a>
</div>
<div class="vertical-bar-right-404">
  {% for i in (0..9) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
<div class="vertical-bar-bottom-404">
  {% for i in (0..20) %}
    <div class="vertical-bar-circle-h-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
</div>
<div class="mobile-view bb-upper-template-404">
  <div class="vertical-bar-top-404">
    {% for i in (0..9) %}
      <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
    {% endfor %}
  </div>
  <div class="bb-template-404 template-404 page-width page-margin center">
    <p class="bb-404-subtext">
      {{ 'templates.404.subtext' | t }}
    </p>
    <h1 class="bb-404-title title">
      {{ section.settings.heading}}
      </h1>
    <p class="bb-404-para">
      {{ section.settings.description}}
    </p>
    <a href="{{ section.settings.link1 }}" class="bb-404-h-button button">
      {{ section.settings.button1 }}
    </a>
    <a href="{{ section.settings.link2 }}" class="bb-404-c-button button">
      {{ section.settings.button2 }}
    </a>
  </div>
  <div class="vertical-bar-bottom-404">
  {% for i in (0..9) %}
    <div class="vertical-bar-circle-404 index-404-{{i}}"></div>
  {% endfor %}
</div>
</div>

{% schema %}
  {
    "name": "main 404",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Page not found"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "The page you were looking for doesn’t exist. You may have mistyped the address or the page may have moved"
      },
      {
        "type": "text",
        "id": "button1",
        "label": "First Button Text",
        "default": "Back to home page"
      },
      {
        "type": "url",
        "id": "link1",
        "label": "Link of first button"
      },
      {
        "type": "text",
        "id": "button2",
        "label": "Second Button Text",
        "default": "Continue Shopping"
      },
      {
        "type": "url",
        "id": "link2",
        "label": "Link of second button"
      }
    ],
    "presets": [
      {
        "name": "Main 404"
      }
    ]
  }
  {% endschema %}