{% schema %}
{
  "name": "Default Blog Posts",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_social_sharing",
      "label": "Show Social Sharing Buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show Tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Article Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_time",
      "label": "Show Read Time",
      "default": true
    },
    {
      "type": "header",
      "content": "Icon Settings"
    },
    {
      "type": "image_picker",
      "id": "icon_like_image",
      "label": "Like Icon Image"
    },
    {
      "type": "image_picker",
      "id": "icon_share_image",
      "label": "Share Icon Image"
    },
    {
      "type": "image_picker",
      "id": "icon_comment_image",
      "label": "Comment Icon Image"
    },
    {
      "type": "image_picker",
      "id": "icon_bookmark_image",
      "label": "Bookmark Icon Image"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Suggested Blogs",
      "settings": [
        {
          "type": "blog",
          "id": "selected_blog",
          "label": "Select Blog"
        },
        {
          "type": "article",
          "id": "selected_article",
          "label": "Select Article"
        },
        {
          "type": "checkbox",
          "id": "slider_show_author",
          "label": "Show Author",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "slider_show_date",
          "label": "Show Date",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "slider_show_excerpt",
          "label": "Show Excerpt",
          "default": false
        }
      ]
    }
  ],
}
{% endschema %}


<link rel="stylesheet" href="{{ 'main-article.css' | asset_url }}">
<div class="blog-article-container color-{{ section.settings.color_scheme }} {% unless article.image %}no-image{% endunless %}">
  <div class="blog-article-content {% unless article.image %}centered-content{% endunless %}" style="color: rgb(var(--color-text));">
    <div class="blog-article-header" style="color: rgb(var(--color-text));">
      <h1 class="blog-article-title"style="color: rgb(var(--color-text));">{{ article.title }}</h1>
      <div class="blog-article-meta" style="color: rgb(var(--color-text));">
        {% if section.settings.show_date %}
          {{ article.published_at | date: "%m/%d/%Y" }} &nbsp;&nbsp; 
          {{ article.published_at | date: "%I:%M %p" }} &nbsp;&nbsp; • &nbsp;&nbsp;
        {% endif %}
        {% if section.settings.show_read_time %}
          {% assign words_per_minute = 200 %}
          {% assign word_count = article.content | strip_html | split: ' ' | size %}
          {% assign read_time = word_count | divided_by: words_per_minute %}
          {% if read_time == 0 %}{% assign read_time = 1 %}{% endif %}
          {{ read_time }} min read
        {% endif %}
      </div>
    </div>
      {% if section.settings.show_tags and article.tags.size > 0 %}
  <div class="blog-article-tags">
    <span>Tags:</span>
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="blog-tag">{{ tag }}</a>
    {% endfor %}
  </div>
{% endif %}
    <div class="blog-article-section color-{{ section.settings.color_scheme }}" style="color: rgb(var(--color-text));">
      {{ article.content }}
    </div>


    {% unless article.image %}
      {% if section.settings.show_social_sharing %}
        <div class="blog-social-container centered-social">
          <div class="blog-social-bar">
            <div class="blog-interaction-buttons">
  <span class="blog-icon like-icon"></span>
  <span class="blog-icon share-icon" data-url="{{ shop.url }}{{ article.url }}"></span>
  <span class="blog-icon comment-icon"></span>
  <span class="blog-icon bookmark-icon"></span>
</div>

            <div class="blog-social-links">
              Follow us on:
              <div class="blog-divider"></div>
              <a href="{{ settings.social_facebook_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="{{ settings.social_instagram_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="{{ settings.social_twitter_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endunless %}
  </div>

  {% if article.image %}
    <div class="blog-image-section">
      <div class="blog-image-content">
        {{
  article.image
  | image_url: width: 1800
  | image_tag:
        class: "blog-main-image",
    alt: article.image.alt | escape
}}
       
          <div class="blog-image-dots">
            {% for i in (1..20) %}
              <span class="blog-dot color-{{ section.settings.color_scheme }}"></span>
              <div class="blog-semicircle blog-semicircle-left" style="background-color: rgb(var(--color-background));"><h6></h6></div>
              <div class="blog-semicircle blog-semicircle-right" style="background-color: rgb(var(--color-background));"><h6></h6></div>
            {% endfor %}
          </div>
      </div>

      {% if section.settings.show_social_sharing %}
        <div class="blog-social-container">
          <div class="blog-social-bar">
             <div class="blog-interaction-buttons">
  <img src="{{ section.settings.icon_like_image | img_url: '50x50' }}" alt="Like Icon" class="icon like-icon">
  <img src="{{ section.settings.icon_share_image | img_url: '50x50' }}" alt="Share Icon" class="icon share-icon" data-url="{{ shop.url }}{{ article.url }}">
  <img src="{{ section.settings.icon_comment_image | img_url: '50x50' }}" alt="Comment Icon" class="icon comment-icon">
  <img src="{{ section.settings.icon_bookmark_image | img_url: '50x50' }}" alt="Bookmark Icon" class="icon bookmark-icon">
</div>
     <div class="blog-social-links">
              Follow us on:
              <div class="blog-divider"></div>
              <a href="{{ settings.social_facebook_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="{{ settings.social_instagram_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="{{ settings.social_twitter_link }}" class="blog-social-icon" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>

<div class="blog-dotted-line color-{{ section.settings.color_scheme }}">
  <span class="blog-semicircle2 blog-semicircle2-l"></span>
  
  <div class="main-article-dots color-{{ section.settings.color_scheme }}">  
    {% for i in (1..100) %}
  <div class="main-article-circles color-{{ section.settings.color_scheme }}"><h1></h1></div>
    {% endfor %}
  </div>
  
  <span class="blog-semicircle2 blog-semicircle2-r"></span>
</div>
 
{%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper color-{{ section.settings.color_scheme }} " style="background-color: rgb(var(--color-background)); color: rgb(var(--color-text));">
      <div
        id="comments"
        class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" style="color: rgb(var(--color-text));"
      >
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption" style="color:rgb(var(--color-foreground));">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment" >
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider" style="color:rgb(var(--color-foreground));">{{ comment.author }}</span
                    ><span class="caption" style="color:rgb(var(--color-foreground));">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert" style="color: rgb(var(--color-text));">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}

          <div
            {% if blog.moderated? == false %}
              class="article-template__comments-fields"
            {% endif %}
          >
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span></label
              >
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.</span
                >
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="blog-button" value="{{ 'blogs.article.post' | t }} " style="color:rgb(var(--color-secondary-button-text)); background-color:rgb(var(--color-button-text));">
        {% endform %}
      </div>
    </div>
  {%- endif -%}
  <div class="blog-dotted-line2 color-{{ section.settings.color_scheme }}">
  <!-- Left semicircle -->
  <span class="blog-semicircle3 blog-semicircle3-l" ></span>
  
  
  <div class="main-article-dots2 color-{{ section.settings.color_scheme }}">  
    {% for i in (1..100) %}
  <div class="main-article-circles2 color-{{ section.settings.color_scheme }}"><h1></h1></div>
    {% endfor %}
  </div>
  
  <!-- Right semicircle -->
  <span class="blog-semicircle3 blog-semicircle3-r"></span>
</div>

<div class="custom-blog-slider-section color-{{ section.settings.color_scheme }}">
    <!-- Title Section -->
    <div class="custom-blog-slider-title" style="{{ section.settings.slider_section_title }};">
        <h2>Suggested Blogs</h2>
    </div>
    <!-- Arrow Buttons -->
    <div class="custom-blog-arrow-buttons">
        <button class="custom-arrow custom-arrow-left" onclick="moveSlide(-1)">‹</button>
        <button class="custom-arrow custom-arrow-right" onclick="moveSlide(1)">›</button>
    </div>   
<div class="custom-blog-slider-container">
    <div class="custom-blog-slider-wrapper" id="sliderWrapper" style="display: flex; flex-wrap: nowrap; gap: 20px;">
        {% assign count = 0 %}
        {% for block in section.blocks %}
            {% if count < 7 %}
                {% assign article = blogs[block.settings.selected_blog].articles | where: "handle", block.settings.selected_article | first %}
                {% if article %}
                    <div class="custom-blog-card" style="background-color: rgb(var(--color-background)); flex: 0 0 auto;">
                        <!-- Semicircles -->
                        <div class="blog-semicircle custom-blog-semicircle-left" style="background-color: rgb(var(--color-background));"><h2></h2></div>
                        <div class="blog-semicircle custom-blog-semicircle-right" style="background-color: rgb(var(--color-background));"><h2></h2></div>

                        <!-- Blog Image -->
                        {% if article.image %}
                                                {{
  article.image
  | image_url: width: 1800
  | image_tag:
    width: 309,
    height: 309,
    alt: article.title | escape
}}
                        {% else %}
                             {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg placeholder'| replace: '<svg', '<svg style="width: 100%; height: 309px;"' }}
                        {% endif %}

                        <!-- Blog Content -->
                        <div class="custom-blog-card-content color-{{ section.settings.color_scheme }}" style="background-color: rgb(var(--color-button))";>
                            <h3 class="custom-blog-card-title" style="color: rgb(var(--color-text));">
                                {{ article.title | escape }}
                            </h3>

                            {% if block.settings.slider_show_author or block.settings.slider_show_date %}
                                <div class="custom-blog-meta" style="color: rgb(var(--color-text));">
                                    {% if block.settings.slider_show_author %}
                                        <span class="custom-blog-author" style="color: {{ block.settings.slider_text_color }}">{{ article.author }}</span>
                                    {% endif %}
                                    {% if block.settings.slider_show_date %}
                                        <span class="custom-blog-date" style="color: {{ block.settings.slider_text_color }}">{{ article.published_at | date: "%B %d, %Y" }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if block.settings.slider_show_excerpt %}
                                <p class="custom-blog-excerpt" style="color: rgb(var(--color-text));">
                                    {{ article.excerpt | strip_html | truncate: 200 }}
                                </p>
                            {% endif %}

                            <a href="{{ article.url }}" class="custom-blog-read-more-btn" style="background-color: {{ block.settings.slider_button_background_color }}; color: {{ block.settings.slider_button_text_color }};">
                                Read more
                                <svg class="article-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
      
    </div>
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    let currentSlide = 0;
    const sliderWrapper = document.getElementById('sliderWrapper');
    const leftArrow = document.querySelector('.custom-arrow-left');
    const rightArrow = document.querySelector('.custom-arrow-right');

    function getGap() {
        // Dynamically fetch the gap from the container's computed styles
        return parseInt(window.getComputedStyle(sliderWrapper.parentElement).gap) || 20;
    }

    function getVisibleSlides() {
        // Determine visible slides based on screen width
        if (window.innerWidth < 768) return 1;
        if (window.innerWidth < 1024) return 2;
        if (window.innerWidth < 1200) return 3;
        return 4;
    }

    function resizeCards() {
        const cards = sliderWrapper.querySelectorAll('.custom-blog-card');
        const visibleSlides = getVisibleSlides();
        const cardWidthPercentage = 95 / visibleSlides;

        cards.forEach((card) => {
            card.style.flex = `0 0 ${cardWidthPercentage}%`;
        });
    }

    function updateArrowState(totalSlides, visibleSlides) {
        // Enable or disable arrows based on slide position
        leftArrow.disabled = currentSlide === 0;
        rightArrow.disabled = currentSlide >= totalSlides - visibleSlides;
    }

    function updateSliderPosition() {
        const slideWidth = sliderWrapper.querySelector('.custom-blog-card').offsetWidth + getGap();
        const offset = -currentSlide * slideWidth;

        sliderWrapper.style.transform = `translateX(${offset}px)`;
    }

    function moveSlide(direction) {
        const cards = sliderWrapper.querySelectorAll('.custom-blog-card');
        const totalSlides = cards.length;
        const visibleSlides = getVisibleSlides();
        const maxSlides = totalSlides - visibleSlides;

        currentSlide = Math.min(Math.max(currentSlide + direction, 0), maxSlides);

        updateSliderPosition();
        updateArrowState(totalSlides, visibleSlides);
    }

    function initializeSlider() {
        const cards = sliderWrapper.querySelectorAll('.custom-blog-card');
        if (cards.length === 0) return;

        resizeCards();
        updateArrowState(cards.length, getVisibleSlides());
        updateSliderPosition();

        leftArrow.addEventListener('click', () => moveSlide(-1));
        rightArrow.addEventListener('click', () => moveSlide(1));

        window.addEventListener('resize', () => {
            resizeCards();
            updateArrowState(cards.length, getVisibleSlides());
            updateSliderPosition();
        });
    }

    initializeSlider();

    // Observe dynamic changes to the slider content
    const observer = new MutationObserver(initializeSlider);
    observer.observe(sliderWrapper, { childList: true });
});
// Adjust the dots dynamically based on container width
function adjustDots() {
  const container = document.querySelector(".blog-circle"); // Select the dots container
  if (!container) return; // Exit if the container is not found

  const containerWidth = container.offsetWidth; // Get the container's width
  const dotSize = 13; // Approximate size of a dot (dot width + gap)
  const maxDots = Math.floor(containerWidth / dotSize); // Calculate how many dots can fit

  // Clear existing dots
  container.innerHTML = "";

  // Add new dots based on the available space
  for (let i = 0; i < maxDots; i++) {
    const dot = document.createElement("span"); // Create a new dot
    dot.className = "blog-circle"; // Assign the class for styling
    container.appendChild(dot); // Append the dot to the container
  }
}

// Call the adjustDots function when the window resizes
window.addEventListener("resize", adjustDots);

// Call the adjustDots function when the page loads
document.addEventListener("DOMContentLoaded", adjustDots);

  
    </script>





<script type="application/ld+json">
  {{ article | structured_data }}
</script>


{% javascript %}
document.addEventListener('DOMContentLoaded', function() {
  // Handle the dot navigation click event
  document.querySelectorAll('.dot').forEach((dot, index) => {
    dot.addEventListener('click', () => {
      document.querySelectorAll('.dot').forEach(d => d.classList.remove('active'));
      dot.classList.add('active');
    });
  });

  // Handle the share button click event
  document.querySelector('.share-button')?.addEventListener('click', function() {
    const url = this.dataset.url;
    if (navigator.share) {
      navigator.share({
        title: {{ article.title | json }},
        url: url
      });
    } else {
      navigator.clipboard.writeText(url);
    }
  });


{% endjavascript %}
