<link rel="stylesheet" href="{{ 'popup.css' | asset_url }}">


<div class="popup-box color-{{ section.settings.color_scheme }}" id="popup-box">
  <div class="popup-heading-container-layout2">
    <div class="popup-heading-layout2">{{ section.settings.popup_title }}</div>
    <div id="closePopupbox" class="popup-close-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        width="28"
        height="28">
        <path
          fill-rule="evenodd"
          d="M10 9.293l4.646-4.646a1 1 0 011.414 1.414L11.414 10l4.646 4.646a1 1 0 01-1.414 1.414L10 11.414l-4.646 4.646a1 1 0 01-1.414-1.414L8.586 10 3.94 5.354A1 1 0 015.354 3.94L10 9.293z"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  <div class="popup-message-layout2">
    {{ section.settings.popup_message | richtext }}
  </div>

  <form id="popupForm" class="popup-form">
    <div class="popup-email-container">
      <img
        src="{{ 'mail.png' | asset_url }}"
        alt="Icon Description"
        class="popup-email-Icon">
      <input
        type="email"
        id="emailInputLayout2"
        class="popup-email-input-layout2"
        placeholder="{{ section.settings.email_placeholder }}">
    </div>
    <button class="popup-subscribe-btn" onclick="handleSubscribe()">{{ section.settings.button_text }}</button>
  </form>
</div>


<script>
  // function to validate email
  function validateEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Email validation regex
    return emailRegex.test(email);
  }

  // subscription logic
  function handleSubscribe(layout) {
    const emailInputId = 'emailInputLayout2';
    const emailInput = document.getElementById(emailInputId).value.trim();

    if (!emailInput) {
      alert("{{ section.settings.empty_email_message }}");
      return;
    }

    if (!validateEmail(emailInput)) {
      alert("{{ section.settings.invalid_email_message }}");
      return;
    }

    alert("{{ section.settings.success_message }}");
    document.getElementById('popupOverlay').style.display = 'none';
  }

  // Close popup when the close button is clicked
  document.querySelectorAll('#closePopupbox').forEach((closeButton) => {
    closeButton.addEventListener('click', function () {
      document.getElementById('popup-box').style.display = 'none';
    });
  });

  // subscribe buttons event listners
  document.querySelectorAll('.popup-subscribe-btn').forEach((button) => {
    button.addEventListener('click', function () {
      const layout = button.closest('.popup').classList.contains('popup-overlay-layout2') ? 'layout2' : 'layout1';
      handleSubscribe(layout);
    });
  });
</script>

{% schema %}
  {
    "name": "Popup",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [

      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "text",
        "id": "popup_title",
        "label": "Popup Title",
        "default": "PopUp Heading"
      },
      {
        "type": "richtext",
        "id": "popup_message",
        "label": "Popup Message",
        "default": "<p>Showcase details about you latest offers, sales or meetups. Let them subscribe to your amazing newsletter, we got you covered.</p>"
      },
      {
        "type": "text",
        "id": "email_placeholder",
        "label": "Email Placeholder Text",
        "default": "Enter your email address"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Subscribe"
      }, {
        "type": "text",
        "id": "empty_email_message",
        "label": "Empty Email Error Message",
        "default": "Please enter an email address."
      }, {
        "type": "text",
        "id": "invalid_email_message",
        "label": "Invalid Email Error Message",
        "default": "Please enter a valid email address."
      }, {
        "type": "text",
        "id": "success_message",
        "label": "Success Message",
        "default": "Thank you for subscribing!"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Popup",
        "category": "Popups"
      }
    ]
  }
{% endschema %}