{{ 'scrolling-text.css' | asset_url | stylesheet_tag }}

<div
  class="marquee-container color-{{ section.settings.color_scheme }}"
  style="
    --animation-speed: {{ section.settings.scroll_speed }};
    --strip-padding-top: {{ section.settings.strip_padding_top }}px;
    --strip-padding-bottom: {{ section.settings.strip_padding_bottom }}px;
  "
>
  <div class="scrolling-marquee-inner">
    {% for block in section.blocks %}
      {% if block.settings.show_strip %}
        {% case block.type %}
          {% when 'text_strip_1' %}
            <div
              class="scrolling-text-only-marquee-content scrolling-text-only-strip-content"
              style="animation-direction: {% if block.settings.direction == 'right' %}normal{% else %}reverse{% endif %};"
              data-pause-on-hover="{{ block.settings.pause_on_hover }}"
              {{ block.shopify_attributes }}
            >
              {% assign text_only_content = block.settings.text_content | strip %}
              {% for repeat in (1..10) %}
                <div class="scrolling-text-only-marquee-item">
                  <span class="scrolling-text-only-marquee-text">{{ text_only_content }}</span>
                </div>
              {% endfor %}
            </div>

          {% when 'content_strip_1' %}
            <div
              class="scrolling-marquee-content scrolling-first-strip-content"
              style="animation-direction: {% if block.settings.direction == 'right' %}normal{% else %}reverse{% endif %};"
              data-pause-on-hover="{{ block.settings.pause_on_hover }}"
              {{ block.shopify_attributes }}
            >
              {% for repeat in (1..section.settings.word_iterations) %}
                {% for i in (1..3) %}
                  {% assign text_key = 'text_' | append: i %}
                  {% assign image_key = 'image_' | append: i %}
                  {% assign focal_point_key = 'image_' | append: i | append: '_focal_point' %}
                  {% if block.settings[text_key] != blank %}
                    <div class="scrolling-marquee-item">
                      <span class="scrolling-marquee-text">{{ block.settings[text_key] }}</span>
                      {% if block.settings[image_key] %}
                        {{ block.settings[image_key] | image_url: width: section.settings.image_width, height: section.settings.image_height, crop: block.settings[focal_point_key] | image_tag:
                          class: 'scrolling-marquee-image',
                          loading: 'lazy',
                          alt: block.settings[text_key],
                          width: section.settings.image_width,
                          height: section.settings.image_height
                        }}
                      {% else %}
                        {{ 'product-2' | placeholder_svg_tag: 'scrolling-marquee-image scrolling-placeholder-svg' }}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>

          {% when 'content_strip_2' %}
            <div
              class="scrolling-marquee-content scrolling-second-strip-content"
              style="animation-direction: {% if block.settings.direction == 'right' %}normal{% else %}reverse{% endif %};"
              data-pause-on-hover="{{ block.settings.pause_on_hover }}"
              {{ block.shopify_attributes }}
            >
              {% for repeat in (1..section.settings.word_iterations) %}
                {% for i in (1..3) %}
                  {% assign text_key = 'text_' | append: i %}
                  {% assign image_key = 'image_' | append: i %}
                  {% assign focal_point_key = 'image_' | append: i | append: '_focal_point' %}
                  {% if block.settings[text_key] != blank %}
                    <div class="scrolling-marquee-item">
                      <span class="scrolling-marquee-text">{{ block.settings[text_key] }}</span>
                      {% if block.settings[image_key] %}
                        {{ block.settings[image_key] | image_url: width: section.settings.image_width, height: section.settings.image_height, crop: block.settings[focal_point_key] | image_tag:
                          class: 'scrolling-marquee-image',
                          loading: 'lazy',
                          alt: block.settings[text_key],
                          width: section.settings.image_width,
                          height: section.settings.image_height
                        }}
                      {% else %}
                        {{ 'product-2' | placeholder_svg_tag: 'scrolling-marquee-image scrolling-placeholder-svg' }}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>

          {% when 'content_strip_3' %}
            <div
              class="scrolling-marquee-content scrolling-third-strip-content"
              style="animation-direction: {% if block.settings.direction == 'right' %}normal{% else %}reverse{% endif %};"
              data-pause-on-hover="{{ block.settings.pause_on_hover }}"
              {{ block.shopify_attributes }}
            >
              {% for repeat in (1..section.settings.word_iterations) %}
                {% for i in (1..3) %}
                  {% assign text_key = 'text_' | append: i %}
                  {% assign image_key = 'image_' | append: i %}
                  {% assign focal_point_key = 'image_' | append: i | append: '_focal_point' %}
                  {% if block.settings[text_key] != blank %}
                    <div class="scrolling-marquee-item">
                      <span class="scrolling-marquee-text">{{ block.settings[text_key] }}</span>
                      {% if block.settings[image_key] %}
                        {{ block.settings[image_key] | image_url: width: section.settings.image_width, height: section.settings.image_height, crop: block.settings[focal_point_key] | image_tag:
                          class: 'scrolling-marquee-image',
                          loading: 'lazy',
                          alt: block.settings[text_key],
                          width: section.settings.image_width,
                          height: section.settings.image_height
                        }}
                      {% else %}
                        {{ 'product-2' | placeholder_svg_tag: 'scrolling-marquee-image scrolling-placeholder-svg' }}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
        {% endcase %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Scrolling Text",
"disabled_on": {
  "groups": ["header"]
},
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Global Settings"
    },
    {
      "type": "range",
      "id": "strip_padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "strip_padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 50,
      "step": 10,
      "unit": "px",
      "label": "Image Width",
      "default": 30
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 20,
      "max": 50,
      "step": 10,
      "unit": "px",
      "label": "Image Height",
      "default": 30
    },
    {
      "type": "range",
      "id": "scroll_speed",
      "min": 0.1,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "Scrolling Speed",
      "default": 1
    },
    {
      "type": "range",
      "id": "word_iterations",
      "min": 10,
      "max": 50,
      "step": 1,
      "label": "Number of Word Iterations",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "text_strip_1",
      "name": "Text Strip 1",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_strip",
          "label": "Show this strip",
          "default": true
        },
        {
          "type": "text",
          "id": "text_content",
          "label": "Text Content",
          "default": "Scrolling Text | Add Your | Special Offer | Here"
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Scroll Direction",
          "options": [
            {
              "value": "left",
              "label": "Left to Right"
            },
            {
              "value": "right",
              "label": "Right to Left"
            }
          ],
          "default": "right"
        },
        {
          "type": "checkbox",
          "id": "pause_on_hover",
          "label": "Pause on Hover",
          "default": true
        }
      ]
    },
    {
      "type": "content_strip_1",
      "name": "Content Strip 1",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_strip",
          "label": "Show this strip",
          "default": true
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Scroll Direction",
          "options": [
            {
              "value": "left",
              "label": "Left to Right"
            },
            {
              "value": "right",
              "label": "Right to Left"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "pause_on_hover",
          "label": "Pause on Hover",
          "default": true
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1",
          "default": "Scrolling Text"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "select",
          "id": "image_1_focal_point",
          "label": "Image 1 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2",
          "default": "Add Your"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "select",
          "id": "image_2_focal_point",
          "label": "Image 2 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3",
          "default": "Special Offers Here"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "select",
          "id": "image_3_focal_point",
          "label": "Image 3 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "content_strip_2",
      "name": "Content Strip 2",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_strip",
          "label": "Show this strip",
          "default": true
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Scroll Direction",
          "options": [
            {
              "value": "left",
              "label": "Left to Right"
            },
            {
              "value": "right",
              "label": "Right to Left"
            }
          ],
          "default": "right"
        },
        {
          "type": "checkbox",
          "id": "pause_on_hover",
          "label": "Pause on Hover",
          "default": true
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1",
          "default": "Scrolling Text"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "select",
          "id": "image_1_focal_point",
          "label": "Image 1 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2",
          "default": "Add Your"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "select",
          "id": "image_2_focal_point",
          "label": "Image 2 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3",
          "default": "Special Offers Here"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "select",
          "id": "image_3_focal_point",
          "label": "Image 3 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "content_strip_3",
      "name": "Content Strip 3",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_strip",
          "label": "Show this strip",
          "default": true
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Scroll Direction",
          "options": [
            {
              "value": "left",
              "label": "Left to Right"
            },
            {
              "value": "right",
              "label": "Right to Left"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "pause_on_hover",
          "label": "Pause on Hover",
          "default": true
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1",
          "default": "Scrolling Text"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "select",
          "id": "image_1_focal_point",
          "label": "Image 1 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2",
          "default": "Add Your"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "select",
          "id": "image_2_focal_point",
          "label": "Image 2 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3",
          "default": "Special Offers Here"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "select",
          "id": "image_3_focal_point",
          "label": "Image 3 Focal Point",
          "options": [
            {"value": "center", "label": "Center"},
            {"value": "top", "label": "Top"},
            {"value": "bottom", "label": "Bottom"},
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "center"
        }
      ]
    }
  ],
"presets": [
  {
    "name": "Scrolling Text",
    "category": "Promotional",
    "blocks": [
      {
        "type": "text_strip_1"
      },
    ]
  }
]
}
{% endschema %}
