{{ 'subfooter.css' | asset_url | stylesheet_tag }}

{% schema %}
{
    "name": "Subfooter",
"enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
   
     {
      "id": "color_scheme",
      "type": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "footer_payment_enable",
      "label": "Show payment types",
      "default": true
    }
  ],
}
{% endschema %}


<style>
  .barcode-footer {
    color:rgb(var(--color-foreground)); 
    background-color: {{ section.settings.footer_bg_color }};
  }

  .barcode-footer p,
  .barcode-footer .copyright__content {
     color:rgb(var(--color-foreground)); 
  }

  .barcode-footer .powered-by {
    color:rgb(var(--color-foreground)); 
  }

  .barcode-footer .copyright__content {
    color:rgb(var(--color-foreground)); 
  }
</style>

 <div class="footer__copyright caption" style="width: 100%; max-width: 100%; ">
    <div style="width: 100%; ">
        <small class="copyright__content">
            <span style="font-weight: 400; font-size: 12px; color: rgba(var(--color-foreground));">&copy;</span> <span style="font-size: 12px; font-weight:400; color: rgba(var(--color-foreground));">{{ 'now' | date: '%Y' }}</span>, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
    </div>
    {%- if section.settings.show_policy -%}
        <ul class="policies list-unstyled" style="width: 100%;">
            {%- for policy in shop.policies -%}
                {%- if policy != blank -%}
                    <li>
                        <small class="copyright__content">
                            <a href="{{ policy.url }}">{{ policy.title | escape }}</a>
                        </small>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    {%- endif -%}
</div>

   <div class="payments-icons">
  {% if section.settings.footer_payment_enable %}
        {% unless shop.enabled_payment_types == empty %}
          <ul class="footer__payment payment-icons grid__item inline-list grid__item medium-up--one-third">
            {% for type in shop.enabled_payment_types %}
              <li>{{ type | payment_type_svg_tag: class:'payment-icon' }}</li>
            {% endfor %}
          </ul>
        {% endunless %}
      {% endif %}
</div>
</div>
