{% style %}
  #shopify-section-{{ section.id }} .video-container-wrapper {
    --progress-color: rgba(255, 255, 255, 0.75);
  }
{% endstyle %}

<div class="video-container-wrapper color-{{ section.settings.background_color }}" data-section-id="{{ section.id }}">
  <div class="video-container">
    <div
      id="video-{{ section.id }}"
      class="video-wrapper"
      style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"
    >
      <div>
        {%- assign video_type = section.settings.video_type -%}
        {%- if video_type == 'library' and section.settings.video_library == blank -%}
          {%- assign video_type = 'youtube' -%}
        {%- endif -%}

        {% liquid
          assign video_id = section.settings.youtube_link.id | default: '_9VUPq3SxOc'
          assign loop = '&mute=1&loop=1&controls=0&showinfo=0&autoplay=1&playlist=' | append: video_id
        %}

        {%- case video_type -%}
          {%- when 'library' -%}
            {{
              section.settings.video_library
              | video_tag: 
                controls: false,
                autoplay: true,
                playsinline: true,
                loop: true,
                muted: true,
                style: 'position: absolute; top: 0; left: 0; width: 100%; height: 100%;'
            }}
          {%- when 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{% if section.settings.youtube_link != blank %}{{ section.settings.youtube_link.id }}{% else %}_9VUPq3SxOc{% endif %}?enablejsapi=1&modestbranding=1&autohide=1&playsinline=1&rel=0{{ loop }}"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
            ></iframe>
          {%- when 'vimeo' -%}
            <iframe
              src="https://player.vimeo.com/video/{{ section.settings.vimeo_link }}?h=00000000&api=1&autoplay=1&loop=1&muted=1"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
            ></iframe>
        {%- endcase -%}
      </div>
      <div class="overlay-left overlay"></div>
      <div class="overlay-right overlay"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Video Banners",
  "settings": [
    {
      "type": "color_scheme",
      "id": "background_color",
      "label": "Color Schema"
    },
    {
      "type": "select",
      "id": "video_type",
      "label": "Video Source",
      "options": [
        {
          "value": "library",
          "label": "Media Library"
        },
        {
          "value": "youtube",
          "label": "YouTube"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "youtube"
    },
    {
      "type": "video",
      "id": "video_library",
      "label": "Video",
      "info": "Select video from media library"
    },
    {
      "type": "video_url",
      "id": "youtube_link",
      "accept": ["youtube"],
      "label": "YouTube Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "vimeo_link",
      "label": "Vimeo Video ID",
      "info": "Enter the video ID from the Vimeo URL (e.g., for 'vimeo.com/123456789', enter '123456789')"
    },
    {
      "type": "checkbox",
      "id": "autoplay_video",
      "default": true,
      "label": "Autoplay video"
    },
    {
      "type": "image_picker",
      "id": "placeholder_image",
      "label": "Custom Placeholder Image",
      
      "info": "Optional: Upload a custom placeholder image"
    }
  ],
  "presets": [
    {
      "name": "Video Banners",
      "settings": {
        "video_type": "youtube",
        "autoplay_video": true
      }
    }
  ]
}
{% endschema %}
