{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system?
      and settings.type_body_font.system?
      and settings.type_button_font.system?
    -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {% liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      assign uppercase_headings = settings.uppercase_headings
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ settings.type_button_font | font_face: font_display: 'swap' }}

      :root {
        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        --font-heading-line-height: {{ settings.header_line_height }};

        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
        --font-button-style: {{ settings.type_button_font.style }};
        --font-button-weight: {{ settings.type_button_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-button-scale: {{ settings.button_scale | divided_by: 100.0 }};
        --font-accent-scale: {{ settings.accent_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-base-primary-background: {{ settings.color_primary_background.red }}, {{ settings.color_primary_background.green }}, {{ settings.color_primary_background.blue }};
        --color-base-primary-text-1: {{ settings.color_primary_text_1.red }}, {{ settings.color_primary_text_1.green }}, {{ settings.color_primary_text_1.blue }};
        --color-base-primary-text-2: {{ settings.color_primary_text_2.red }}, {{ settings.color_primary_text_2.green }}, {{ settings.color_primary_text_2.blue }};
        --color-base-primary-button: {{ settings.color_primary_button.red }}, {{ settings.color_primary_button.green }}, {{ settings.color_primary_button.blue }};
        --color-base-primary-button-text: {{ settings.color_primary_button_text.red }}, {{ settings.color_primary_button_text.green }}, {{ settings.color_primary_button_text.blue }};
        --color-base-errors-1: {{ settings.color_errors_1.red }}, {{ settings.color_errors_1.green }}, {{ settings.color_errors_1.blue }};
        --color-base-alt-background-1: {{ settings.color_alt_background_1.red }}, {{ settings.color_alt_background_1.green }}, {{ settings.color_alt_background_1.blue }};
        --color-base-alt-1-text-1: {{ settings.color_accent_1_text_1.red }}, {{ settings.color_accent_1_text_1.green }}, {{ settings.color_accent_1_text_1.blue }};
        --color-base-alt-1-text-2: {{ settings.color_accent_1_text_2.red }}, {{ settings.color_accent_1_text_2.green }}, {{ settings.color_accent_1_text_2.blue }};
        --color-base-alt-button-1: {{ settings.color_alt_button_1.red }}, {{ settings.color_alt_button_1.green }}, {{ settings.color_alt_button_1.blue }};
        --color-base-alt-button-text-1: {{ settings.color_alt_button_text_1.red }}, {{ settings.color_alt_button_text_1.green }}, {{ settings.color_alt_button_text_1.blue }};
        --color-base-errors-2: {{ settings.color_errors_2.red }}, {{ settings.color_errors_2.green }}, {{ settings.color_errors_2.blue }};
        --color-base-alt-background-2: {{ settings.color_alt_background_2.red }}, {{ settings.color_alt_background_2.green }}, {{ settings.color_alt_background_2.blue }};
        --color-base-alt-2-text-1: {{ settings.color_accent_2_text_1.red }}, {{ settings.color_accent_2_text_1.green }}, {{ settings.color_accent_2_text_1.blue }};
        --color-base-alt-2-text-2: {{ settings.color_accent_2_text_2.red }}, {{ settings.color_accent_2_text_2.green }}, {{ settings.color_accent_2_text_2.blue }};
        --color-base-alt-button-2: {{ settings.color_alt_button_2.red }}, {{ settings.color_alt_button_2.green }}, {{ settings.color_alt_button_2.blue }};
        --color-base-alt-button-text-2: {{ settings.color_alt_button_text_2.red }}, {{ settings.color_alt_button_text_2.green }}, {{ settings.color_alt_button_text_2.blue }};
        --color-base-errors-3: {{ settings.color_errors_3.red }}, {{ settings.color_errors_3.green }}, {{ settings.color_errors_3.blue }};
        --color-base-alt-background-3: {{ settings.color_alt_background_3.red }}, {{ settings.color_alt_background_3.green }}, {{ settings.color_alt_background_3.blue }};
        --color-base-alt-3-text-1: {{ settings.color_accent_3_text_1.red }}, {{ settings.color_accent_3_text_1.green }}, {{ settings.color_accent_3_text_1.blue }};
        --color-base-alt-3-text-2: {{ settings.color_accent_3_text_2.red }}, {{ settings.color_accent_3_text_2.green }}, {{ settings.color_accent_3_text_2.blue }};
        --color-base-alt-button-3: {{ settings.color_alt_button_3.red }}, {{ settings.color_alt_button_3.green }}, {{ settings.color_alt_button_3.blue }};
        --color-base-alt-button-text-3: {{ settings.color_alt_button_text_3.red }}, {{ settings.color_alt_button_text_3.green }}, {{ settings.color_alt_button_text_3.blue }};
        --color-base-errors-4: {{ settings.color_errors_4.red }}, {{ settings.color_errors_4.green }}, {{ settings.color_errors_4.blue }};
        --color-base-background-modal: {{ settings.color_background_modal.red }}, {{ settings.color_background_modal.green }}, {{ settings.color_background_modal.blue }};
        --color-base-modal-text-1: {{ settings.color_modal_text_1.red }}, {{ settings.color_modal_text_1.green }}, {{ settings.color_modal_text_1.blue }};
        --color-base-modal-text-2: {{ settings.color_modal_text_2.red }}, {{ settings.color_modal_text_2.green }}, {{ settings.color_modal_text_2.blue }};
        --color-base-modal-button: {{ settings.color_modal_button.red }}, {{ settings.color_modal_button.green }}, {{ settings.color_modal_button.blue }};
        --color-base-modal-button-text: {{ settings.color_modal_button_text.red }}, {{ settings.color_modal_button_text.green }}, {{ settings.color_modal_button_text.blue }};
        --color-base-errors-5: {{ settings.color_errors_5.red }}, {{ settings.color_errors_5.green }}, {{ settings.color_errors_5.blue }};
        --color-base-sale: {{ settings.sale_color.red }}, {{ settings.sale_color.green }}, {{ settings.sale_color.blue }};
        --color-base-promo-tag-background: {{ settings.promo_tag_background.red }}, {{ settings.promo_tag_background.green }}, {{ settings.promo_tag_background.blue }};
        --color-base-promo-tag-text: {{ settings.promo_tag_text.red }}, {{ settings.promo_tag_text.green }}, {{ settings.promo_tag_text.blue }};
        --color-base-notification: {{ settings.color_notification.red }}, {{ settings.color_notification.green }}, {{ settings.color_notification.blue }};
        --color-base-notification-text: {{ settings.color_text_notification.red }}, {{ settings.color_text_notification.green }}, {{ settings.color_text_notification.blue }};

        --page-width: 1200px;
        --page-width-margin: 2rem;

        --border-radius: {{ settings.border_radius | divided_by: 100.0 }};
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_button_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_button_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="{% if uppercase_headings == 'all_caps' %} body-headings--uppercase{% endif %}">
    {% section 'main-gift-card' %}
  </body>
</html>

<script>
  const string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
    new QRCode( document.querySelector('.gift-card__qr-code'), {
      text: document.querySelector('.gift-card__qr-code').dataset.identifier,
      width: 120,
      height: 120,
      imageAltText: string.qrImageAlt
    });
 

 const copyButton = document.querySelector('.copy-button');
  const giftCardCodeElement = document.querySelector('.gift-card-code span');
  
  if (copyButton && giftCardCodeElement) {
    copyButton.addEventListener('click', function() {
      const textarea = document.createElement('textarea');
      textarea.value = giftCardCodeElement.textContent.trim();
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    });
  }
});
  
</script>
